<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Doireann Ni Ghrioghair</title>
      <link rel="icon" type="image/png" href="https://uxdoireann.com/media/favicon.png" />
      <meta charset ="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   </head>
   <body>
      
         <header>
            <div id = "burger" class ="burger_menu">
               <div class = "bar1"></div>
               <div class = "bar2"></div>
               <div class = "bar3"></div>   
            </div>
           
         </header>
         <main>

            
         

            <div id="moi">
             

               <div class="menu" id="menu">
                  <p><a class="menulink" href="index.html">Home</a></p>
                  <p ><a  class="menulink" href = "projects.html">Projects</a></p>
                  <p ><a class="menulink" href = "about.html" >About</a></p>
                  <p ><a  class="menulink" href = "../media/Doireann_Ni_GhrioghairUX_CV.pdf" target="_blank">CV</a></p>
                  
               </div>

               <div id="selfie"></div>
               <p id="hi" style="font-family:'Poppins', sans-serif;">Hi, I'm Doireann! 👋</p>
               
               <p id="about" style="font-family:'Poppins', sans-serif">I'm a Visual Artist turned UX/UI Designer with Front-End Development Skills </p>
                 <p id="abouttext" style="font-family:'Poppins', sans-serif">After over 10 years of exhibiting sculpture both nationally and internationally, the global pandemic exposed the long-term precarious nature of this career path and I knew it was time to change tack. Design has always been something of interest to me. While initially my ‘draw’ to UX & UI design was due to a pragmatism to acquire an ‘in-demand’ skill, it soon became apparent that this is a natural fit for my unique skill set. 
<br><br><br>
                 Visual skills are really second nature to me and I have an impressive track record to demonstrate this. My sculpture work can be viewed <a href="http://www.cargocollective.com/doireann" style="opacity:1;color:#e91e63;font-size:25px; margin-left: 0px;">here</a>. To support my career as an artist, I’ve also worked in a number of public-facing roles – most recently as a tour guide in Dublin Castle and Government Buildings.  Being the front face of such organisations requires an ability to tune in and listen to the needs and expectations of a diverse range of people from all over the world, at the same time presenting the complex story of Irish history in an engaging and entertaining manner. 
               <br><br>  <br> 
                  Over the years, working as an artist, I kept learning new techniques and skills – from plaster-casting to 3D-printing – to constantly innovate – because to know the possibilities (or limits!) of what can be done, it’s integral to have a knowledge of the process. For this reason, I decided to also learn how to code. While studying for my Professional Diploma in UX, I also completed a Nanodegree in Front-End Development from Udacity. I love coding and was delighted to be able to code this entire portfolio website from scratch 😊 
                 <br><br> <br>
                
                 Creativity and communication are at the heart of everything I do. Whether it’s putting on an exhibition of contemporary sculpture, explaining the Anglo-Irish Treaty to tourists, designing a flight-booking app or coding a portfolio website, presenting complex information, ideas and stories in a clear but engaging manner to a diverse audience is my superpower.  </p>
                 </div>
                 <br><br>
                 <a id="cvlink" href="../media/Doireann_Ni_GhrioghairUX_CV.pdf" target="_blank"><button class="cv" style="font-family:'Poppins', sans-serif;">Have a look at my CV</button></a>
               <a href="projects.html" id="view_projects" style="align-items: center; font-size:25px; color:#e91e63;"><p style="font-size:25px; font-family:'Poppins', sans-serif;color:#e91e63;">View Projects</p></a>

                

               
         </main>
        
         <footer>
            2021 by Doireann Ni Ghrioghair
         </footer>
     
      <script>
         
      </script>
   </body>
</html>