<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Doireann Ni Ghrioghair</title>
      <link rel="icon" type="image/png" href="https://uxdoireann.com/media/favicon.png" />
      <meta charset ="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
   </head>
   <body>
      
         <header>
            <div id = "burger" class ="burger_menu">
               <div class = "bar1"></div>
               <div class = "bar2"></div>
               <div class = "bar3"></div>   
            </div>
           
         </header>
         <main>

            <div class="menu" id="menu">

               <p><a class="menulink" href="index.html">Home</a></p>
               <p><a class ="menulink" href="projects.html">UX & UI Design</a></p>
               <p><a class="menulink" href="projects_frontend.html">Front-End Development</a></p>
               <p><a class="menulink" href="projects_graphics.html">Graphic Design</a></p>
               <p><a class="menulink" href="https://cargocollective.com/doireann" target="_blank">Visual Art</a></p>
               <p ><a class="menulink" href = "about.html" >About</a></p>
               <p ><a  class="menulink" href = "../media/Doireann_Ni_GhrioghairUX_CV.pdf" target="_blank">CV</a></p>
               <br>
               <br>
               <div class="icon_links">
                  <a href="https://www.linkedin.com/in/doireann-ni-ghrioghair-38530928/"><i class="fab fa-linkedin-in fa-2x" style="color:white; "></i></a>
                  <a href ="https://github.com/UXDoireann"><i class="fab fa-github fa-2x"style="color:white; margin-left:2vw;" ></i></a>
                  <a href="https://dribbble.com/Doireann83"><i class="fab fa-dribbble fa-2x"style="color:white; margin-left:2vw;" ></i></a>
               </div>
            </div>  
         

            <div id="moi">
             

             
               
               <div id="selfie"></div>
               <p id="hi" style="font-family:'Poppins', sans-serif;">Hi, I'm Doireann! 👋</p>
               
               <p id="about" style="font-family:'Poppins', sans-serif">I'm a UX/UI Designer with Front-End Development Skills </p>
                 <p id="abouttext" style="font-family:'Poppins', sans-serif">
                
                Formerly a visual artist and tour-guide, creativity and communication are at the heart of everything I do. Whether it’s putting on an exhibition of contemporary sculpture, explaining the Anglo-Irish Treaty to tourists, designing a flight-booking app or coding a portfolio website (this one from scratch! 😊), presenting complex information, ideas and stories in a clear but engaging manner to a diverse audience is my superpower.  </p>
                 </div>
                 <br><br>
                 <a id="cvlink" href="../media/Doireann_Ni_GhrioghairUX_CV.pdf" target="_blank"><button class="cv" style="font-family:'Poppins', sans-serif;">Have a look at my CV</button></a>
               <a href="projects.html" id="view_projects" style="align-items: center; font-size:25px; color:#e91e63;"><p style="font-size:25px; font-family:'Poppins', sans-serif;color:#e91e63;">View Projects</p></a>

              

               
         </main>
        
         <footer>
           
            2021 by Doireann Ni Ghrioghair
         </footer>
     
      <script>
         
      </script>
   </body>
</html>