<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Test</title>
      <meta charset ="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
   </head>
   <body>
      
         <header>
            <h1>About</h1>
         </header>
         <main>
            
                 
         </main>
        
         <footer>
            2021 by Doireann Ni Ghrioghair
         </footer>
     
      <script>
         if('serviceWorker' in navigator){
             window.addEventListener('load', () =>{
                 navigator.serviceWorker.register('/service-worker.js');
             });
         }
      </script>
   </body>
</html>