<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Test</title>
      <meta charset ="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   </head>
   <body>
      
         <header>
           
           
               

            <div id = "burger" class ="burger_menu">
               <div class = "bar1"></div>
               <div class = "bar2"></div>
               <div class = "bar3"></div>   
            </div>
            
            <article id="landing"> 
               <div id="logo"></div>
               <div id="top_image_mobile"></div>
               <div class="right_text" id="intro"><h3>UX & UI Design</h3>As part of a Professional Diploma in UX at the UX Design Institute, this project
                  involved designing a mobile flight-booking app for a fictitious airline.
                  From user research, to analysis, to design, prototyping and wireframing, I gained
                  experience of the full life cycle of a UX project.</div>
               </article>
            
         </header>
         <main>
            <div class="menu" id="menu">
   
               <p class = "about"><a href = "about.html">About</a></p>
               <p class = "projects"><a href = "projects.html">Projects</a></p>
               <p class = "cv"><a href = "cv.html">CV</a></p>
               <p class = "contact"><a href = "contact.html">Contact</a></p>
            </div>  

        
      <div class="parallax_top"> 
         
           </div>
       
       
        <div id="project_main">
      
      
      
      
<br><br><br>
        <div class="section_title"><h2><b>Step 1:</b> Research</h2>
         <p></p>
      
         </div>

        <article>
        <div id="compbench"></div>
         <div class="right_text" ><h3>Competitive Benchmarking</h3>
         <p>To understand how best-in-class mobile apps solve the problem of creating 
            a positive user experience of booking flights, I compared and reviewed four apps.
            I chose three well-regarded airline apps along with an accommodation booking app to see
            how a more indirect competitor designs for booking experiences.
            This proved to be an invaluable document that I referred back to on numerous occasions throughout
            the research, analysis and design phases.<br><br>
           <button class="pdf_link"><a href='../media/CBAirlines.pdf' class="link">View Competitive Benchmarking</a></button></p>
           </div>
         </article>

        <article id ="column_reverse_1" class="grey" >
          <div class="left_text"><h3>Online Survey</h3>
         <p>I created an online survey to get a better understanding of people's goals when booking flights online and to
            find out:
            <ul>
               <li>If the last time they booked a flight, did they use a mobile app or desktop website?</li>
               <li>Did they use an aggregator website as part of their search?</li>
               <li>What website or mobile app did they use to make their booking and why?</li>
               <li>Did this mobile app or website allow them to complete their booking easily?</li>
               <li>If not, why not?</li>
            </ul>
         </p>
         </div>
         <img class ="section_image" src= '../media/survey.jpg' alt ="survey image" loading="lazy"></img> 
      </article>

      <article>
       <img class="section_image" alt="usability test for mobile" src='../media/Fionnuala_b&w.jpg' loading="lazy">
         <div class="right_text"> <h3>Usability Testing</h3>
         <p>I conducted three usability tests, each including an in-depth interview examining the user's habits
            and contexts surrounding their previous experiences of booking flights online. As FlyUX is a fictitious
            airline, I used two apps previously reviewed during Competitive Benchmarking: Turkish Airlines and Easyjet.<br><br>
            Listening to and observing these people search for and book flights was an incredibly interesting
            experience and provided a trove of insights and ideas. Throughout the overall design process, I kept
            these people in mind, thinking of their goals, their behaviours, their frustrations, their delight,
            their skepticism, their surprise and their stories.
         </p>
            </div>
         </article>

         <div class="quote">
            <q>Usually the less you click the better, so you don't get charged more</q>
           <p> -User 1 expressing a skepticism while booking flight extras</p>
               </div>
     
      <article>
         <div class="user_img_parent" ><div id="megan"></div></div>
      </article>

         <div class="quote">
         <q >This all seems very smooth to me. I'm not really second guessing it, it's all quite
            automatic
         </q>
         <p>-User 2 on the overall feeling of flow using the app</p></p>
         </div>

        <article>
            <div class="user_img_parent"><div id="fionnuala"></div></div>
        </article>
       

            <div class="quote">
               <q>Become a 'Miles and Smiles' member? That sounds like a dental programme so I'm going to avoid that!</q>
                     <p>-User 2 on signing up to an airline membership programme</p>
                     </div>

            <article>
               <div class="user_img_parent" ><div id="michele"></div></div>
            </article>

               <div class="quote" >
                  <q>I'm really annoyed because it doesn't tell me where my stopover is!</q>
                 <p> -User 3 on being frustrated at the lack of forthcoming important information</p>
                        </div>

        <div class="section_title"><h2><b>Step 2:</b> Analysis</h2></div>

        <article>
          <img class = "section_image" src="../media/whole_diagram.png"> 
         <div class="right_text"><h3>Affinity Diagram</h3>
         <p>Having collected a great deal of qualitative research, the next step was to use an affinity diagram to analyse the data in-depth. Sharing my research with another person, collaboratively, we wrote our observations on post-its. Following this a process of organising and re-organising the post-its ensued. As there was a lot to analyze, we got really granular in our final groupings of data. 
            While there is a lot to digest here, there were some key points that struck me....
         <ul id="key_points">
            <li>A general distrust and skepticism of 'extras' and luggage costs and hence a need for a constant <b>price clarity</b></li>
         <li>As this project took place during Covid-19 pandemic, when searching for flights, <b>lack of availability</b> was often an issue. How an app handled this (or didn't!) was a key noteworthy point</li>
         <li>Deviation from <b>established conventions</b> often caused confusion for users</li>
      <li>Important information should be <b>more forthcoming</b> eg. layovers</li></ul> </p></br></br>
            <button class="pdf_link"><a href='../media/DoireannNiGhrioghair_Project5.pdf' class="link">View Affinity Diagram</a></button></p></div>
           
         </article>

         <div id="af" class="grey">
           <div id="affinity_pics_1">
              <img class='half_image' src='../media/ad_b&w_1.png' loading="lazy">
                <img id ="ipad1" class='section_image' src='../media/ad_extras.png' loading="lazy">
                   <div class="d_text"><em><p><u>Detail:</u></p><li>A general <br>distrust <br>and skepticism <br>of 'extras'<br> and luggage costs <br>and hence a need for <br>a constant <b>price clarity</b></li>
                    <br><br>  
                    <li>Important <br>information <br>should be <br><b>more <br>forthcoming</b><br> eg. layovers</li></em></div>
                   </div>
         
                   <div id="affinity_pics_2">
                     <img class="section_image" src='../media/ad_layover.png' loading="lazy">
                       <img class="section_image" src='../media/ad_priceclarity.png' loading="lazy">
                         </div>


          <div id="affinity_pics_3">
            <div class="d_text"><em><p><u>Detail:</u></p><br><li>As this project <br>took place during the <br>Covid-19 pandemic, <br>when searching for <br>flights, <b>lack of <br>availability</b> was <br>often an issue. <br>How an app handled <br>this (or didn't!) <br>was a key noteworthy <br>point</li></em></div>
           <img id ="ipad2" class='section_image' src='../media/ad_guidance.png' loading="lazy">
            <img class='half_image' src='../media/ad_b&w_2.png' loading="lazy">
          </div>
          <br>
          <button class="pdf_link" ><a href='../media/DoireannNiGhrioghair_Project5.pdf' class="link" >View Affinity Diagram</a></button>
        <br><br><br></div>

        <article>
           <img id="cjm" src="../media/customer_journey_map.jpg" loading="lazy">
           <div class="right_text"><h3>Customer Journey Map</h2>
         <p>Following on from the in-depth analysis of the affinity diagram, the next step was to translate this 'wall art installation' into a clear,
          structured deliverable.
          From the decisions and conversations preceding opening an app to book a flight, to all the behaviour, decisions and emotions experienced while
          going through the process of searching for and booking flights, to the sharing of the booking afterwards - 
          all are mapped here in this document. Work was done for a clear runway, from which to 'take off' with the next step of designing...
         <br><br>
         <button class="pdf_link"><a href='../media/CustomerJourneyMap.pdf' class="link" >View Customer Journey Map</a></button>
         </div>
      
      </article>

         <div class="section_title"><h2><b>Step 3:</b> Design</h2>
           
         
            </div>
   

        <article id ="column_reverse_2"  ><div  class="left_text"><h3>User Flow Diagram</h2>
         <p>Addressing all the issues in the Customer Journey Map, the next step was to define
            the high-level flow for this complex and structured, but overall linear process mobile app.
            Focussing on the journey from searching for flights to payment, each screen, screen state and 
            interaction is accounted for. Keeping in mind issues the user's raised, some points of note here are:
            <ul>
               <li>Flow of guidance if flight route or date unavailable</li>
               <li>Options to edit flight selection</li>
               <li>Option to continue as guest without forced sign-in</li>
            </ul>
         </p>
         <button class="pdf_link" ><a href='../media/flow_diagram.pdf' class="link">View Flow Diagram</a></button>
      </div>
         <img class="section_image" src = '../media/flow_diagram_pic.png' loading="lazy" alt="User Flow Diagram Detail">
            </article>

            
         
        
        <article>
         <img class = "half_image" src ="../media/14nights.jpg">
         <div class="left_text"><h3>Interaction Design</h3>
         <p>Drawing from the Flow Diagram, I really enjoyed sketching the screens and screen states.
            As my background is in visual art, I really felt at home problem-solving through sketching -
            always being aware that this is the first iteration of a number of iterations.
            I've included here some screens of note. For the full pdf document, please press the link.
         </p></div>
         
      </article>
      <article>
       <div class="screens">
          <div class="each_screen"><img src="../media/13nights.jpg"><p></p></div>

       </div>
      </article>

            


        <section class="mf_prototype"><h3>Medium Fidelity Prototype</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>

        <section class="prototype_test"><h3>Prototype Usability Test</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>

        <section class="ui"><h3>UI Design</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>

        <section class="hf_protoype"><h3>High Fidelity Prototype</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>

        <section class="hf_test" ><h3>Final Test of High Fidelity Prototype</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>

        <section class="wireframe"><h3>Wireframes</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>

        <section class="outcomes" class="fade"><h3>Outcomes</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>



        
        </div>

      <div class="parallax_bottom"></div>
         </main>
        <script>
           
        </script>
     </body>
  </html>