<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Doireann Ni Ghrioghair</title>
      <link rel="icon" type="image/png" href="https://uxdoireann.com/media/favicon.png" />
      <meta charset ="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
   </head>
   <body>
      
         <header>
           
           
               

            <div id = "burger" class ="burger_menu">
               <div class = "bar1"></div>
               <div class = "bar2"></div>
               <div class = "bar3"></div>   
            </div>
            
            <article id="landing"> 
               <div class="left_text" class="intro" id="intro">
                  <h3 id="flight_booking">Flight Booking App</h3>
                  <p>As part of a Professional Diploma in UX at the UX Design Institute, this project
                  involved designing a mobile flight-booking app for a fictitious airline.<br><br>
                  Designed to take out the confusion and regain confidence and trust in the flight-booking process
                  - from user research, to analysis, to design, prototyping and wireframing, I gained
                   experience of the full life cycle of a UX project.</p>
                   </div> 
                  
               <div id="top_image_mobile"></div>
            </article>
            
         </header>
         <main>
            <div class="menu" id="menu">

               <p><a class="menulink" href="index.html">Home</a></p>
               <p><a class ="menulink" href="projects.html">UX & UI Design</a></p>
               <p><a class="menulink" href="projects_frontend.html">Front-End Development</a></p>
               <p><a class="menulink" href="projects_graphics.html">Graphic Design</a></p>
               <p><a class="menulink" href="https://cargocollective.com/doireann" target="_blank">Visual Art</a></p>
               <p ><a class="menulink" href = "about.html" >About</a></p>
               <p ><a  class="menulink" href = "../media/Doireann_Ni_GhrioghairUX_CV.pdf" target="_blank">CV</a></p>
               <br>
               <br>
               <div class="icon_links">
                  <a href="https://www.linkedin.com/in/doireann-ni-ghrioghair-38530928/"><i class="fab fa-linkedin-in fa-2x" style="color:white; "></i></a>
                  <a href ="https://github.com/UXDoireann"><i class="fab fa-github fa-2x"style="color:white; margin-left:2vw;" ></i></a>
                  <a href="https://dribbble.com/Doireann83"><i class="fab fa-dribbble fa-2x"style="color:white; margin-left:2vw;" ></i></a>
               </div>
            </div>  

        
      <div class="parallax_top"> 
         
           </div>

           <section>
            <h3 class="heading">Introduction</h3>
            <div class="findings">
            <div class="divides">
               <h5>Goal</h5>
               <p>I completed this project as part of my Professional Diploma in UX Design from the UX Design Institute (accreditated by Glasgow Caledonian University).<br><br>
                  The goal of the project was to create an end-to-end user flow for booking a flight on an airline native app - from the landing page to flight summary.

               </p>
            </div>
            <div class="divides">
               <h5>My Role</h5>
               <p>I completed the full process alone (except for a collaboration to analyize data with the affinity map). Skills demonstrated here include:
                  <ul>
                     <li>UX Research</li>
                     <li>Research Analysis</li>
                     <li>UX Design</li>
                     <li>Prototyping & Wireframming</li>
                     <li>UI Design</li>
                  </ul>
               </p>
            </div>
            <div class="divides">
               <h5>Results</h5>
               <p>I created a high-fidelity prototype with beautiful UI that performed well in validating user tests.
                  <br>
                  I received my Professional Diploma in UX.<br><br>
                   <br><br>
                   <br><br>
               
               </p>
            </div>
            </div>
          
            </section>
        
            <div class="parallax_top"> 
         
            </div>

            <section class="fly_proto">
               <h3 class="heading">Final Prototype</h4>
             <div class="findings">

               <div class="divides"><p class="instructions">Your trip criteria to use this prototype are as follows:
                  <ul class="instructions">
                     <li>You wish to travel from <b>London</b> to Tokyo</li><br>
                     <li>You are booking for 2 people</li><br>
                     <li>You wish to travel for 14 nights in <b>March</b></li><br>
                     <li>You're looking for budget fares</li><br>
                     <li>For seats, you'd like the cheapest possible seats to sit together</li><br>
                     <li>You wish to check in luggage</li>
                  </ul>
                 
               </p></div>
               <iframe class="flyux_proto" width="375" height="667" src="https://xd.adobe.com/embed/9c652f90-b93a-409e-a924-c3e7054cee06-c936/" frameborder="0" allowfullscreen></iframe>
               <p>*If you have trouble viewing prototype, click <a href="https://xd.adobe.com/embed/9c652f90-b93a-409e-a924-c3e7054cee06-c936/" target="_blank">here.</a></p> </div>
            
            </section>

            <div class="parallax_top"> 
         
            </div>
      
      
      
             <br><br><br>
       
       
      

         <section id="process">
           <div><h4 class="process">Research <i class="fas fa-arrow-right"></i></h4>
            <ul><li>Competitive Benchmarking</li>
            <li>Online Survey</li>
         <li>Usability Testing</li></ul>
         </div>

         <div>
            <h4 class="process">Analysis <i class="fas fa-arrow-right"></i></h4>
            <ul>
               <li>Affinity Diagram</li>
               <li>Customer Journey Map</li>
            </ul>
            </div>

            <div>
            <h4 class="process">Design <i class="fas fa-arrow-right"></i></h4>
            <ul>
               <li>Flow Diagram</li>
               <li>Interaction Design Sketches</li>
            </ul>
            </div>
            <div>
            <h4 class="process">Prototype <i class="fas fa-arrow-right"></i></h4>
            <ul>
               <li>Medium Fidelity Prototype</li>
               <li>Usability Test</li>
            </ul>
            </div>
            <div>
            <h4 class="process">Iterate <i class="fas fa-arrow-right"></i></h4>
            <ul>
               <li>UI Design</li>
               <li>High Fidelity Prototype</li>
               <li>Usability Test</li>
            </ul>
            </div>
            <div>
            <h4 class="process">Delivery </h4>
            <ul>
               <li>Wireframes</li>
            </ul>
            </div>
         </section>



         <div class="parallax_top"> 
         
         </div>

         <div id="project_main">

          
       <h3 class="heading">Research</h3>
         <p></p>
      
         </div>

        <article>
        <div id="compbench"></div>
         <div class="right_text" ><h5>Competitive Benchmarking</h5>
         <p>To understand how best-in-class mobile apps solve the problem of creating 
            a positive user experience of booking flights (or accommodation in the case of the indirect competitor, Airbnb), I compared and reviewed four apps:<br>
            <ol>
               <li>Turkish Airlines</li>
               <li>Alaska Air</li>
               <li>Easyjet</li>
               <li>Airbnb</li>
            </ol>
            <p>I focussed on three segments of the experience: <b>the landing page; flight/accommodation search; entering personal details.</b></p><br>
       <a href='../media/CBAirlines.pdf' class="flyux_link">View Full Competitive Benchmarking Document</a>

         </div>
      </article>


 


         <div id="findings">
           <div class="findings">

              <div class="divides">
         <h6>Landing Page</h5>
         
        <div ><i class="fas fa-check" style="color:green; margin-right:1vw;"></i><br><p>Both Turkish Airlines and Alaska Air have great landing pages. Both have 'Hello' greetings, very clear and beautiful UI with 'no messing around' CTAs.</p></div>
        <div ><i class="fas fa-times" style="color:red; margin-right:1vw;"></i>
         <p >Airbnb's landing page is quite underwhelming and requires some scrolling to make sense of the image that greets you.</p></div>
      </div>

        <div  class="divides">
           <h6>Flight Search</h5>
           <div > <i class="fas fa-check" style="color:green; margin-right:1vw;"></i><p>Apart from the links to some unnecessary features, Easyjet wins with a clear, intuitive flow. If there was unavailability, I was easily directed to alternatives.</p></div>
           <div><i class="fas fa-times" style="color:red; margin-right:1vw;"></i>
            <p>While Turkish Airline's 'flexi-search' is innovative, it's quite confusing and counter-intuitive for the first-time user.</p></div>
         </div>
        <div class="divides">
           <h6>Passenger Details</h5>
           <div > <i class="fas fa-check" style="color:green; margin-right:1vw;"></i><p>Turkish Airlines offered a very clean, easy process with no mandatory sign in.</p></div>
           <div ><i class="fas fa-times"style="color:red; margin-right:1vw;" ></i>
           </p><p>Easyjet ruined its clean, easy process with mandatory registering for an account.</p></div>
         </div>
      </div>
    </div>

   
        <article id ="survey" >
          <div class="left_text"><h5>Online Survey</h5>
         <p>I created an online survey to get a better understanding of people's goals when booking flights online and to
            find out:
            <ul>
               <li>If the last time they booked a flight, did they use a mobile app or desktop website?</li>
               <li>Did they use an aggregator website as part of their search?</li>
               <li>What website or mobile app did they use to make their booking and why?</li>
               <li>Did this mobile app or website allow them to complete their booking easily?</li>
               <li>If not, why not?</li>
            </ul>
         </p>
         </div>
         <img class ="section_image" src= '../media/survey.jpg' alt ="survey image" loading="lazy"></img> 
      </article>

      <article id="usability">
       <img class="section_image" alt="usability test for mobile" src='../media/Fionnuala_b&w.jpg' loading="lazy">
         <div class="right_text"> <h5>Usability Testing</h5>
         <p>I conducted <b>three</b> usability tests, each including an in-depth interview examining the user's habits
            and contexts surrounding their previous experiences of booking flights online. As FlyUX is a fictitious
            airline, I used two apps previously reviewed during Competitive Benchmarking: <b>Turkish Airlines</b> and <b>Easyjet.</b><br><br>
            I examined in particularly how they experienced the flow from: <b>the landing page, to flight search & selection, filling in passenger details, seat selection & extras, through to flight summary.</b>
            Listening to and observing these people search for and book flights was an incredibly interesting
            experience and provided a trove of insights and ideas. Throughout the overall design process, I kept
            these people in mind, thinking of their goals, their behaviours, their frustrations, their delight,
            their skepticism, their surprise and their stories.
         </p>
            </div>
         </article>

         <div class="quote">
            <q>Usually the less you click the better, so you don't get charged more</q>
           <p> -User 1 expressing a skepticism while booking flight extras</p>
               </div>
     
      <article>
         <div class="user_img_parent" ><div id="megan"></div></div>
      </article>

         <div class="quote">
         <q >This all seems very smooth to me. I'm not really second guessing it, it's all quite
            automatic
         </q>
         <p>-User 2 on the overall feeling of flow using the app</p></p>
         </div>

        <article>
            <div class="user_img_parent"><div id="fionnuala"></div></div>
        </article>
       

            <div class="quote">
               <q>Become a 'Miles and Smiles' member? That sounds like a dental programme so I'm going to avoid that!</q>
                     <p>-User 2 on signing up to an airline membership programme</p>
                     </div>

            <article>
               <div class="user_img_parent" ><div id="michele"></div></div>
            </article>

               <div class="quote" >
                  <q>I'm really annoyed because it doesn't tell me where my stopover is!</q>
                 <p> -User 3 on being frustrated at the lack of forthcoming important information</p>
                        </div>

       <h3 class="heading">Analysis</h3>

        <article id="affinity">
          <img class = "section_image" src="../media/whole_diagram.png"> 
         <div class="right_text"><h5>Affinity Diagram</h5>
         <p>Having collected a great deal of qualitative research from competitive benchmarking, three usability tests and an online survey, the next step was to use an affinity diagram to analyse the data in-depth.
             Sharing my research with another person, collaboratively, we wrote our observations on post-its. Following this a process of organising and re-organising the post-its ensued. 
             As there was a lot to analyze, we got really granular in our final groupings of data. </p><br>
          <a href='../media/DoireannNiGhrioghair_Project5.pdf' class="flyux_link">View full affinity diagram document</a></div>
            </article>

            
         <div id="af">
           <div id="affinity_pics_1">
              <img class='half_image' src='../media/ad_b&w_1.png' loading="lazy">
                <img id ="ipad1" class='section_image' src='../media/ad_extras.png' loading="lazy">
                   <div class="d_text"><em><p><u>Detail:</u></p><li>A general <br>distrust <br>and skepticism <br>of 'extras'<br> and luggage costs.</li>
                    <li>Important <br>information <br>should be <br><b>more <br>forthcoming</b></li></em></div>
                   </div>
         
                   <div id="affinity_pics_2">
                     <img class="section_image" src='../media/ad_layover.png' loading="lazy">
                       <img class="section_image" src='../media/ad_priceclarity.png' loading="lazy">
                         </div>


          <div id="affinity_pics_3">
            <div class="d_text"><em><p><u>Detail:</u></p><br><li> <br>How an app handled <br>this (or didn't!) <br>was a key noteworthy <br>point</li></em></div>
           <img id ="ipad2" class='section_image' src='../media/ad_guidance.png' loading="lazy">
            <img id="ugo"class='half_image' src='../media/ad_b&w_2.png' loading="lazy">
          </div>
          <br>
      <br></div>

        <article>
           <img id="cjm" src="../media/customer_journey_map.jpg" loading="lazy">
           <div class="right_text"><h5>Customer Journey Map</h5>
         <p>Following on from the in-depth analysis of the affinity diagram, the next step was to translate this 'wall art installation' into a clear,
          structured deliverable.
          From the decisions and conversations preceding opening an app to book a flight, to all the behaviour, decisions and emotions experienced while
          going through the process of searching for and booking flights, to the sharing of the booking afterwards - 
          all are mapped here in this document. From a cursory glance at this document, it's easy to see that the customer experience dips drastically during 
          flight and fare selection and again when it comes to seat selection and adding luggage and extras.
         <br><br>
       <a href='../media/CustomerJourneyMap.pdf' class="flyux_link" >View full customer journey map document</a>
         </div>
      
      </article>

      <div id="af_map_findings">
         <h5 id="key_findings">Key Findings</h5>
         <ul id="key_points" >
            <li><b>Price clarity:</b> Users have a general distrust and skepticism of 'extras' eg. seats and luggage costs and hence a need for a constant visible update of cost.</li><br>
         <li><b>Guidance when lack of availability: </b> As this project took place during Covid-19 pandemic, when searching for flights, lack of availability was often an issue. How an app handled this (or didn't!) was a key noteworthy point</li><br>
         <li><b>Established conventions:</b> Deviation from established conventions eg. in calendars or 'flexi-search' graphs often cause confusion for users</li><br>
         <li><b>Unnecessary features: </b> Innovative and novel ways of flight searching can be confusing or just irrelevant to users.</li><br>
      <li><b>Forthcoming information:</b> Important information should be more forthcoming eg. layovers</li><br>
      <li><b>Option to edit: </b >Users like if they can edit flight summary. </li><br>
         <li><b>Abbreviations: </b> There shouldn't be assummed familiarity.</li><br>
         <li><b>Feeling of flow: </b> Users appreciate when they can complete their desired tasks easily.</li><br>
      <li><b>Nights away: </b> 'Nights away' are understood more by users that 'days away'. It's helpful to update this somewhere if the dates change during selection from original search.</li><br>
   <li><b>Continue as guest:</b> Users don't like when there is a mandatory 'sign-in'.</li></ul> </p></br></br>
      </div>



         <h3 class="heading" >Design</h3>
           
         
           
   

        <article id="user_flow_diagram">
           <div  class="left_text"><h5>User Flow Diagram</h5>
         <p>Addressing all the issues in the Customer Journey Map, the next step was to define
            the high-level flow for this complex and structured, but overall linear process mobile app.
            Focussing on the journey from searching for flights to payment, each screen, screen state and 
            interaction is accounted for. Keeping in mind issues the user's raised, some points of note here are:
            <ul>
               <li>'Nights away' listed on calendar rather than 'days away'.</li>
               <li>Flow of guidance if flight route or date unavailable</li>
               <li>Options to edit flight summary</li>
               <li>Option to continue as guest without forced sign-in</li>
               <li>No unnecessary features</li>
               <li>Abbreviation explainers</li>
            </ul>
         </p>
         <a href='../media/flow_diagram.pdf' class="flyux_link">View Flow Diagram</a>
      </div>
         <img class="section_image" src = '../media/flow_diagram_pic.png' loading="lazy" alt="User Flow Diagram Detail">
            </article>

            
         
        
        <article  id="interaction_article">
         <img id="interaction" src ="../media/interaction_design.png">
         <div class="right_text" id="interaction_text"><h5>Interaction Design</h5>
         <p>Drawing from the Flow Diagram, I really enjoyed sketching the screens and screen states.
            As my background is in visual art, I really felt at home problem-solving through sketching -
            always being aware that this is the first iteration of a number of iterations.
            I've included below here some screens of note. For the full pdf document, please press the link.
         </p>
      <br>
     <a href='../media/interaction_design.pdf' class="flyux_link" >View Interaction Design</a>
      </div>
         
      </article>

      <div id="paper_sketches">
         <div class="paper_row">
           <div class="sketch" ><img class="screen" alt="paper prototype" src="../media/14nights.jpg"/>
            <p class="sketch_text">On the calendar after date selection, the number of nights away is noted. Nights rather than days are used - as I found days sometimes caused confusion for users.</p>
         </div>
         <div class="sketch" id="ipad_cut_1"><img class="screen" alt="paper prototype" src="../media/scrollleftorright.jpg"/>
            <p class="sketch_text">When there is a lack of availability on the chosen outbound date, recognisable conventions are used to guide the user to alternative options.</p>
         </div>
         <div class="sketch" ><img class="screen" alt="paper prototype" src="../media/13nights.jpg"/>
            <p class="sketch_text">Due to the lack of availability for their original outbound date, their chosen alternative dates now mean their trip is less nights away than previously planned. This can be important to many users who wish to maximise their time away.</p>
         </div>
         </div>
      </div>

      <div id="paper_sketches">
         <div class="paper_row">
           <div class="sketch" ><img class="screen" alt="paper prototype" src="../media/stopoever.jpg"/>
            <p class="sketch_text">Basic details of any layovers must be flagged during flight selection. Also, the updated total cost must be forthcoming as much as possible.</p>
         </div>
         <div class="sketch" ><img class="screen" alt="paper prototype" src="../media/sittogether.jpg"/>
            <p class="sketch_text">Consequences of not booking seats must be forthcoming so users can make an informed choice.</p>
         </div>
         <div class="sketch" id="ipad_cut_2"><img class="screen" alt="paper prototype" src="../media/signin.jpg"/>
            <p class="sketch_text">No forced sign in, but an explanation of the advantages of signing up.</p>
         </div>
         </div>
      </div>



   



      <h3 class="heading">Prototyping</h3> 


      

        <section class ="full_text">
         <h5>Medium Fidelity Prototype</h5>
            <p>Using <b>Adobe XD,</b> I created a medium fidelity prototype. Deliberately defining the user flow to explore <b>lack of availability</b> on a desired date of the outbound flight, the following measures were implemented to test:
               <ol>
                  <li>On the calendar page, '14 nights away' is written at the bottom once outbound and return dates are selected.</li><br>
                  <li>When the outbound date is unavailable, the user is presented with this information on a 'tab' screen, with clear options to 
                     swipe left or right for days before or after on tabs with their corresponding lowest prices. This is a recognisable design convention.
                  </li><br>
                  <li>In this scenario, the user chooses the date <b>after</b> their original desired date. As a result, their trip is now <b>13 nights</b> instead of <b>14 nights</b> as intended. This is flagged on top of the outbound date list-view screen once selected.</li><br>
                  <li>The user then navigates to the following page and then <b>14 nights in Tokyo</b> is written at the top of the list-view screen.</li><br>
                  <li>In the Flight Summary screen, there are clear options to <b>edit</b> the trip</li><br>
                  <li>Amidst the confusion, the user is now returning to a different airport in London than the outbound flight. This is also flagged in a pop-up screen when the user has pressed 'Continue' in Flight Summary screen.</li><br>
               </ol>
            </p>
      
            </section>

       
      
          <img id ="midfi"  alt="medium fidelity prototype screens" src="../media/medium_fidelity_prototype.jpg">

          <article id="medium_fidelity">
            <img class="section_image" alt="medium fidelity usability test still" src="../media/colm.jpg">
            <div id="proto_text" class="left_text"><h5>Usability Test</h5>
               <p>I undertook a usability test to test this prototype flow, exploiting the opportunity to also conduct another indepth interview with a user.
                 Overall, the user found the prototype very easy to use, with a good general flow and corresponding mental models with regards to the implemented features relating to availability.<br><br>
                 I did find one important detail I had to change in the next iteration. Presented with the list-view of available flights for a specific day, when the user selects a flight, that tab opens to reveal more details about the flight eg. layovers, available fares, etc.
               However, once the user selected the flight on the list-view, they thought they were now on the return flight screen.
            I realised that I needed to think about small visual adjustments so that it was obvious that once a tab on the list-view was selected that it opened a window with 'details'. A simple animated chevron would probably work....</p>
                  </div>
            </article>
       
<h3 class="heading">Iterate</h3>

<section class="full_text"><h5>UI Design & High Fidelity Prototype.</h5>
<p>Following from the usability test, for the next iteration, the first issue to be addressed was to implement animated chevrons on list-view options for both flights and extras.
   Other implementations include:
   <ul>
      <li>Attractive destination images on Landing Page, 'Sign In' page and on Confirmation screen.</li><br>
      <li>Animations for when flight search results are loading and for when payment is being processed.</li><br>
      <li>'Flagged' information - that may be 'pain points' highlighted in yellow.</li><br>
      <li>Design and colour consistency throughout the screens.</li><br>
      <li>Friendly 'encouraging' language during payment screens eg. <em>You're almost on your way to Tokyo!</em></li><br>


   <li>A constantly updated cost at the bottom of the screen.</li><br>
   <li>A clear option to 'Continue As Guest' during 'Sign In' screen.</li><br>
   <li>Before seat selection, it is clear that the user will be randomly assigned seating if seats not selected.</li><br>
</ul>
</p></section>

<img id="hifi"alt="final ui screens" src="../media/high_fidelity.jpg">

        <article id="high_fidelity" >
         <img  class="section_image" alt="high fidelity user test" src="../media/megan_final.jpg">
         <div class="left_text"><h5>Usability Test</h5>
       <p>For this test, I wanted to see how the list-view pages (now with animated chevrons!) would correspond to the user's mental models. They worked! The user understood
          easily that windows were opening and that they were now being shown 'details'. <br><br>
          Also, I wanted to make sure the UI design enchanced rather than hindered the overall flow. The results were positive and user could easily navigate through the 'lack of availability' with understanding of what was happening.
          Having the constantly updated price at the bottom and an option to 'Continue As Guest' were also appreciated.
       </p>
       
          <br><br></div>
         </article>
    
         
         
        
         
        
         

      

        

        <h3 class="heading">Delivery</h3>

        <article id="wireframes">
         <img class="section_image" alt="wireframe process image" src ="../media/wireframe.png" />
         <div class="right_text">
          <h3>Wireframes</h3>
         <p>Detailed wireframes were then prepared based on all the screens from the final prototype. 
            All interactions were accounted for on all screens from the landing page to payment.
            Having a knowledge of front-end development, I'm aware of what needs to be specificed here 
            for handover and the importance of this document.
         </p>
         <a href='../media/Wireframes.pdf' class="flyux_link" >View Wireframes</a>
      </div>
         </article>

        
      

        



        
        </div>

      <div class="parallax_bottom"></div>
      <div id="bottom_image_mobile"></div>

      
         <h3 class="heading">Conclusion</h3>
    <section class="conclusion">
       <div class="left_text">
          <h5>What worked well</h5>
         <p>Overall, the flight-booking process performed very well during the usability tests, with users navigating through the flow very easily.</p>
         <ul>
            <li>Constant price clarity with the running cost consistently being updated at the bottom aided trust and confidence for the user - especially during seat selection and luggage. They knew there would be no nasty surprises!</li><br>
            <li>Unavailability was handled with proper guidance, so users could easily navigate to days before or after the original date.
               Other corresponding details were also handled eg. overall time away being flagged so they could make the necessary decisions.
            </li><br>
            <li>Important information was forthcoming eg. layovers, names of airports instead of solely abbreviations and what's included in each fare.</li><br>
            <li>Users weren't forced to 'sign in' but could 'Continue As Guest'.</li><br>
            <li>I learned the importance of small visual cues eg. animated chevrons, loading animations, etc - which sound really too obvious to mention - but they really assist a user's mental models in a big way.
               The attention to detail regarding the UI in the final presented prototype demonstrates this very well.
            </li><br>
            <br>
         </ul>
       </div>
       <div id="right_end" class="right_text">
          <h5>What I would do differently</h5>
          <p>I'm very pleased with the final prototype, but if things to consider are:</p>
          <ul>
             <li>The 'edit' button on the Flight Summary page could be replaced with a pencil icon as I feel it's a little bit of text too much.</li><br>
             <li>While the flow here relates to unavailable for a given day, I would like to consider how to manage this if there was no availability for 
                the surrounding days or during a period of time at the desired destination airport. Situations like these arise frequently in our current Covid-19
                era, with a constant need for updates on certain availability. It would be interesting to explore this further given different situations and flows.
             </li><br>
          </ul>
          <p>
         
           
       </p>
         </div>
      </section>



      <br><br>

      <div class="parallax_bottom"></div>
      <div id="bottom_image_mobile"></div>
      <section class="fly_proto">
         <h3 class="heading">Final Prototype</h4>
       <div class="findings">

         <div class="divides"><p class="instructions">Your trip criteria to use this prototype are as follows:
            <ul class="instructions">
               <li>You wish to travel from <b>London</b> to Tokyo</li><br>
               <li>You are booking for 2 people</li><br>
               <li>You wish to travel for 14 nights in <b>March</b></li><br>
               <li>You're looking for budget fares</li><br>
               <li>For seats, you'd like the cheapest possible seats to sit together</li><br>
               <li>You wish to check in luggage</li>
            </ul>
         </p></div>
         <iframe class="flyux_proto" width="375" height="667" src="https://xd.adobe.com/embed/9c652f90-b93a-409e-a924-c3e7054cee06-c936/" frameborder="0" allowfullscreen></iframe>
         <p>*If you have trouble viewing prototype, click <a href="https://xd.adobe.com/embed/9c652f90-b93a-409e-a924-c3e7054cee06-c936/" target="_blank">here.</a></p>  </div>
       <a id="cvlink" href="../media/Doireann_Ni_GhrioghairUX_CV.pdf" target="_blank"><button class="cv" style="font-family:'Poppins', sans-serif; background-color: #228691;">Have a look at my CV</button></a>
       <a href="projects.html" id="view_projects" style="align-items: center; font-size:25px; color:#228691;"><p style="font-size:25px; font-family:'Poppins', sans-serif;color:#228691;">Browse other projects</p></a>
      </section>

     

         
        
         
    
     
         </main>
        <script>
           
        </script>
     </body>
  </html>