<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Test</title>
      <meta charset ="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   </head>
   <body>
      
         <header>
          
            
         </header>
         <main>

        
      <div class="parallax_top"> 
           </div>
       
       
        <div class="project_main">
      
         <div id="flyux_title"><img src='../media/logo.png' style = "border-style:none; box-shadow:none;"></img>
         <p class="right_text" id="intro">As part of a Professional Diploma in UX at the UX Design Institute, this project
            involved designing a mobile flight-booking app for a fictitious airline.<br><br>
            From user research, to analysis, to design, prototyping and wireframing, I gained
            experience of the full life cycle of a UX project.
         </p>
      
      </div>

        <div class="section_title"><h2><u>Step 1:</u> Research</h2>
         <p></p>
      
         </div>

        <section >
        <img class ="comp_bench_img" src= '../media/CD.jpg' loading="lazy"></img>
         <div class="right_text"><h3>Competitive Benchmarking</h3>
         <p>To understand how best-in-class mobile apps solve the problem of creating 
            a positive user experience of booking flights, I compared and reviewed four apps.
            I chose three well-regarded airline apps along with an accommodation booking app to see
            how a more indirect competitor designs for booking experiences. For each app, I focussed
            on the landing page, search and select features and the entry of personal details.<br><br>
            This proved to be an invaluable document that I referred back to on numerous occasions throughout
            the research, analysis and design phases.<br>
           <button class="pdf_link"><a href='../media/CBAirlines.pdf' style="font-size: 17px; margin-left: 1vw; " id="compb">View Competitive Benchmarking</a></button></p>
           </div>
            
         </section>

        <article >
         <img class ="survey_img" src= '../media/survey.jpg' loading="lazy"></img> 
         <div class="left_text"><h3>Online Survey</h3>
         <p>I created an online survey to get a better understanding of people's goals when booking flights online and to
            find out:
            <ul>
               <li>If the last time they booked a flight, did they use a mobile app or desktop website?</li>
               <li>Did they use an aggregator website as part of their search?</li>
               <li>What website or mobile app did they use to make their booking and why?</li>
               <li>Did this mobile app or website allow them to complete their booking easily?</li>
               <li>If not, why not?</li>
            </ul>
         </p>
         </div>
        
      </article>

      <section>
           
         <div class="user_test_images_1"></div>
         <div class="right_text"> <h3>Usability Testing</h3>
         <p>I conducted three usability tests, each including an in-depth interview examining the user's habits
            and contexts surrounding their previous experiences of booking flights online. As FlyUX is a fictitious
            airline, I used two apps previously reviewed during Competitive Benchmarking: Turkish Airlines and Easyjet.<br><br>
            Listening to and observing these people search for and book flights was an incredibly interesting
            experience and provided a trove of insights and ideas. Throughout the overall design process, I kept
            these people in mind, thinking of their goals, their behaviours, their frustrations, their delight,
            their skepticism, their surprise and their stories.
         </p>
            </div>
      
         </section>

         <div class="quote">
         <q>Where's the cheap flights, thanks!</q>
               <p>-User 1 on the importance of price</p>
               </div>
     
      <article >
         <div class="user_img_parent" ><div class="user_test_images"></div></div>
         <div class="left_text"> 
            <p><br><br><q>Usually the less you click the better, so you don't get charged more</q>
            -User 1 expressing a skepticism while booking flight extras</p>
            </div>

         </article>

         <div class="quote">
         <q >This all seems very smooth to me. I'm not really second guessing it, it's all quite
            automatic
         </q>
         <p>-User 2 on the overall feeling of flow using the app</p>
         </div>

         <section >
            <div class="user_img_parent" ><div class="user_test_images"></div></div>
            <div class="left_text"> 
               <p><br><br><q>They might have a 'Would you like to edit this?' here</p><p>
                  -User 2 expresses a wish for a feature that would've let her know
                  that her trip was now shorter due to lack of availability for desired dates.
               </p>
               </div>   
            </section>

            <div class="quote">
               <q>Where's the cheap flights, thanks!</q>
                     <p>-User 1 on the importance of price</p>
                     </div>

            <article>
               <div class="user_img_parent" ><div class="user_test_images"></div></div>
               <div class="left_text"> 
                  <p><br><br><q>Usually the less you click the better, so you don't get charged more</q>
                  -User 1 expressing a skepticism while booking flight extras</p>
                  </div>
              
      
               </article>

        <div class="section_title"><h2>Analysis</h2>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </div>

        <section class="affinity_diagram"><h3>Affinity Diagram</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
         
      
         </section>

        <section class="customer_journey"><h3>Customer Journey Map</h2>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>

        <section class="user_flow_diagram"><h3>User Flow Diagram</h2>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>

        <div class="section_title"><h2>Design</h2>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </div>

        <section class="interaction_design"><h3>Interaction Design</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>

        <section class="mf_prototype"><h3>Medium Fidelity Prototype</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>

        <section class="prototype_test"><h3>Prototype Usability Test</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>

        <section class="ui"><h3>UI Design</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>

        <section class="hf_protoype"><h3>High Fidelity Prototype</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>

        <section class="hf_test"><h3>Final Test of High Fidelity Prototype</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>

        <section class="wireframe"><h3>Wireframes</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>

        <section class="outcomes"><h3>Outcomes</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged.</p>
      
         </section>



        
        </div>

      <div class="parallax_bottom"></div>
         </main>
        <script>
           
        </script>
     </body>
  </html>