<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Doireann Ni Ghrioghair</title>
      <meta charset ="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   </head>
   <body>
      
         <header>
            <div class="container" id="load_wrapper">
               <div class="box">
           
                   <div class="title">
                       <span class="block"></span>
                       <h1 class ="loadname">Doireann Ní Ghrioghair<span></span></h1>
                   </div>
           


                   <div class="role">
                       <div class="block"></div>
                       <p> UX/UI Designer & Front-End Dev</p>
                   </div>
           
               </div>
           </div>
           
       <div id="page_wrapper">
           <div id = "burger" class ="burger_menu">
            <div class = "bar1"></div>
            <div class = "bar2"></div>
            <div class = "bar3"></div>   
         </div>
         
      
           
         </header>
       
         <main id="pageone">
       
<div id="smile"></div>
<div id="ball"></div>
<div id="phone"></div>
<div id="screen"></div>
<div id="notebook"></div>
<div id="pencil"></div>
<div id="hello"></div>


             <article class = "centre">
            <h1 class ="name" >Doireann Ní Ghrioghair</h1>
            <p class ="job">UX / UI Designer & Front-End Dev<br>based in Dublin, Ireland</p>
          <a id="get_left" href="projects.html"><button class="see" >See my work</button></a>
            </article>
           
          
           
           <div class="menu" id="menu">
   
              <p ><a class="menulink" href = "about.html" >About</a></p>
              <p ><a  class="menulink" href = "projects.html">Projects</a></p>
              <p ><a  class="menulink" href = "cv.html">CV</a></p>
              <p ><a  class="menulink" href = "contact.html">Contact</a></p>
           </div>
          

         </main>
        
        

         
      <script>
      
      </script>
   </body>
</html>