<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Test</title>
      <meta charset ="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
   </head>
   <body>
      
         <header>
            <h1>Doireann</h1>
         </header>
         <main>
           <div id="menu">
              <p class = "about"><a href = "about.html">About</a></p>
              <p class = "projects"><a href = "projects.html">Projects</a></p>
              <p class = "cv"><a href = "cv.html">CV</a></p>
              <p class = "contact"><a href = "contact.html">Contact</a></p>
           </div>
                 
         </main>
        
         <footer>
            2021 by Doireann Ni Ghrioghair
         </footer>
     
      <script>
         
      </script>
   </body>
</html>