<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Doireann Ni Ghrioghair</title>
      <link rel="icon" type="image/png" href="https://uxdoireann.com/media/favicon.png" />
      <meta charset ="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   </head>
   <body>
      
         <header>
            <div id = "burger" class ="burger_menu">
               <div class = "bar1"></div>
               <div class = "bar2"></div>
               <div class = "bar3"></div>   
            </div>
            
         </header>
         <main>
            <h1 class="projects">Projects</h1>
            <div class="menu" id="menu">

                <p><a class="menulink" href="index.html">Home</a></p>
                <p><a class ="menulink" href="projects.html">UX & UI Design</a></p>
                <p><a class="menulink" href="projects_frontend.html">Front-End Development</a></p>
                <p><a class="menulink" href="projects_graphics.html">Graphic Design</a></p>
                <p><a class="menulink" href="https://cargocollective.com/doireann" target="_blank">Visual Art</a></p>
                <p ><a class="menulink" href = "about.html" >About</a></p>
                <p ><a  class="menulink" href = "../media/Doireann_Ni_GhrioghairUX_CV.pdf" target="_blank">CV</a></p>
               
             </div>  
             
            
             <div class="project_row">

               <a href = "https://github.com/UXDoireann/CAPSTONE" target="_blank">
            <div class="project_parent">
              
            <div id="capstone" >
               </div>
            <div class ="project_title"><p id="title_title">Travel Bug <i class="fab fa-dribbble" style="color:#e91e63"></i></p> </div>
               <div class="project_details">Cover graphics and illustration for podcast based on Irish folklore, ghost stories and bespoke cocktails. </div>
            </div>
               </a>
            

          

                        <a href = "https://github.com/UXDoireann/Would-you-rather" target="_blank">
                        <div class="project_parent">
                                   
                         <div id="react" >
                               </div>
                                 <div class ="project_title"><p id="title_title">Would You Rather? <i class="fab fa-dribbble" style="color:#e91e63"></i></p></div>
                                    <div class="project_details">Graphic identity with photography for history podcast and radio show</div>
                                 </div>
                                    </a>
                                   
                                     
                                 </div>  

                                 <div class="project_row">

                                    <a href = "https://github.com/UXDoireann/Evaluate-News-NLP" target="_blank">
                                 <div class="project_parent">
                                   
                                 <div id="nlp" >
                                    </div>
                                 <div class ="project_title"><p id="title_title">Have I Got News Sentiment Analysis For You? <i class="fab fa-dribbble" style="color:#e91e63"></i></p> </div>
                                    <div class="project_details">Cover graphics and illustration for podcast based on Irish folklore, ghost stories and bespoke cocktails. </div>
                                 </div>
                                    </a>
                                 
                     
                               
                     
                                             <a href = "https://github.com/UXDoireann/Weather_Journal_App" target="_blank">
                                             <div class="project_parent">
                                                        
                                              <div id="weather" >
                                                    </div>
                                                      <div class ="project_title"><p id="title_title">Weathering Heights <i class="fab fa-dribbble" style="color:#e91e63"></i></p></div>
                                                         <div class="project_details">Graphic identity with photography for history podcast and radio show</div>
                                                      </div>
                                                         </a>
                                                        
                                                          
                                                      </div>  
         </main>
        
         
     
      <script>
         
      </script>
   </body>
</html>