<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Doireann Ni Ghrioghair</title>
      <link rel="icon" type="image/png" href="https://uxdoireann.com/media/favicon.png" />
      <meta charset ="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   </head>
   <body>
      
         <header>
            <div id = "burger" class ="burger_menu">
               <div class = "bar1"></div>
               <div class = "bar2"></div>
               <div class = "bar3"></div>   
            </div>
            
         </header>
         <main>
            <h1 class="projects">Graphic Design</h1>
            <div class="menu" id="menu">

                <p><a class="menulink" href="index.html">Home</a></p>
                <p><a class ="menulink" href="projects.html">UX & UI Design</a></p>
                <p><a class="menulink" href="projects_frontend.html">Front-End Development</a></p>
                <p><a class="menulink" href="projects_graphics.html">Graphic Design</a></p>
                <p><a class="menulink" href="https://cargocollective.com/doireann" target="_blank">Visual Art</a></p>
                <p ><a class="menulink" href = "about.html" >About</a></p>
                <p ><a  class="menulink" href = "../media/Doireann_Ni_GhrioghairUX_CV.pdf" target="_blank">CV</a></p>
               
             </div>  
             
            
            <div id="graphics">

               <a href = "https://dribbble.com/shots/16509516-Irish-Spirits-Podcast-Cover-Art">
            <div class="project_parent">
              
            <div id="irishSpirits" >
               </div>
            <div class ="project_title"><p id="title_title">Irish Spirits </p> </div>
               <div class="project_details">Podcast Cover Art</div>
            </div>
               </a>
            

          

                        <a href = "https://dribbble.com/shots/16509400-Dublin-s-Historic-South-Podcast-Cover-Art">
                        <div class="project_parent">
                                   
                         <div id="dhs" >
                               </div>
                                 <div class ="project_title"><p id="title_title">Dublin's Historic South</p></div>
                                    <div class="project_details">Podcast Cover Art</div>
                                 </div>
                                    </a>
                                   
                                     
                                 </div>  
                              
         </main>
        
         
     
      <script>
         
      </script>
   </body>
</html>