<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Test</title>
      <meta charset ="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   </head>
   <body>
      
         <header>
            <div id = "burger" class ="burger_menu">
               <div class = "bar1"></div>
               <div class = "bar2"></div>
               <div class = "bar3"></div>   
            </div>
            
         </header>
         <main>
            <h1 class="projects">Projects</h1>
            <div class="menu" id="menu">
   
               <p class = "about"><a href = "about.html">About</a></p>
               <p class = "projects"><a href = "projects.html">Projects</a></p>
               <p class = "cv"><a href = "cv.html">CV</a></p>
               <p class = "contact"><a href = "contact.html">Contact</a></p>
            </div>  
            
            <div class="projects_wrapper">

               <a href = "flyux.html">
            <article class="project_parent">
              
            <div class="flyux" >
               </div>
            <div class ="project_title"><p>FlyUX |<p class="subtitle">     UX & UI</p></p></div>
               <div class="project_details">A flight booking app for a fictional airline as part of the Professional Diploma in UX, UX Design Institute</div>
               </article>
               </a>
              
                
              
                                 </div>
         </main>
        
         
     
      <script>
         
      </script>
   </body>
</html>