<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Doireann Ni Ghrioghair</title>
      <link rel="icon" type="image/png" href="https://uxdoireann.com/media/favicon.png" />
      <meta charset ="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
   </head>
   <body>
      
         <header id="header">
            <div id = "burger" class ="burger_menu">
               <div class = "bar1"></div>
               <div class = "bar2"></div>
               <div class = "bar3"></div>   
            </div>

            <article id="landing_tide"> 
               <div class="left_text" class="intro">
                  <h3 class="tide_checking">Tide Checking App</h3>
                  <p id="swim_land">A side project in progress, this app aims to assist open-water swimmers
                     in checking tide times and sea conditions before a swim.<br><br>
                     Currently in the design phase following a UX research process, 
                     I aim to also develop this project into a working app.<br><br>
                     Check back here again for updates and in the meantime, enjoy scrolling the process so far.
                  </p>
                    
                  
                 </div> 
                 
                  
                </article>
               
         </header>
      
            <main>
               <div class="menu" id="menu">
   
                  <p><a class="menulink" href="index.html">Home</a></p>
                  <p><a class ="menulink" href="projects.html">UX & UI Design</a></p>
                  <p><a class="menulink" href="projects_frontend.html">Front-End Development</a></p>
                  <p><a class="menulink" href="projects_graphics.html">Graphic Design</a></p>
                  <p><a class="menulink" href="https://cargocollective.com/doireann" target="_blank">Visual Art</a></p>
                  <p ><a class="menulink" href = "about.html" >About</a></p>
                  <p ><a  class="menulink" href = "../media/Doireann_Ni_GhrioghairUX_CV.pdf" target="_blank">CV</a></p>
                  <div class="icon_links">
                     <a href="https://www.linkedin.com/in/doireann-ni-ghrioghair-38530928/"><i class="fab fa-linkedin-in fa-2x" style="color:white; "></i></a>
                     <a href ="https://github.com/UXDoireann"><i class="fab fa-github fa-2x"style="color:white; margin-left:2vw;" ></i></a>
                     <a href="https://dribbble.com/Doireann83"><i class="fab fa-dribbble fa-2x"style="color:white; margin-left:2vw;" ></i></a>
                  </div>
               </div>  
             
               <div class="parallax_top_swim"> 
         
               </div>

               <section class="section" id="swim_intro">
                  <h3 class="tide_checking">Introduction</h3>
                  <div class="swim_full_text">
                     <p>Open water swimming is a sport that has seen a 'rising tide' of popularity in Ireland in recent times.
                        Even before the pandemic, the health benefits - both mental and physical - along with the camaraderie and love for the water
                        had increased the numbers of enthusiasts taking the plunge. Lockdown restrictions saw an accelerated wave of new swimmers, with news of 
                        the sport's new found favour even making waves <a class="swim_link" href="https://www.theguardian.com/world/2020/nov/25/shivering-dublin-bay-swimmers-slighted-for-fancy-robes">offshore.</a>
                          </p>
                          <p>
                             However, for swimmers looking to find out important information before a swim eg. tide times, sea conditions, water temperature and more -
                             it can be difficult. Tide and sea apps are mostly aimed at other 'sea-activities' eg. sailing, surfing or fishing. 
                             I wanted to design an app just for open water swimmers to help them find the information they needed before a swim, to help them
                             getting the best of of their swim, while staying safe.
                          </p>
                  </div>
                  
                  <div class="swim_findings">
                  <div class="swim_divides">
                     <h5 class="swim_sub_headings">Goal</h5>
                     <p>A passion project I'm designing, the goal is create an app for open water swimmers to check tide times and sea conditions for a desired swim spot.</p>


                  </div>
                  <div class="swim_divides">
                     <h5 class="swim_sub_headings">My Role</h5>
                     <p>So far on this project, I've completed:</p>
                        <ul>
                           <li>UX Research</li>
                           <li>Research Analysis</li>
                           </ul>
                       <p>UX Design is currently in progress.</p>
                     
                  </div>
                  <div class="swim_divides">
                     <h5 class="swim_sub_headings">Results</h5>
                     <p>
                        UX Research has been completed on this project - including an online survey, usability tests and competitive benchmarking.
                        Research has also been analyized using an affinity diagram and results can be seen on a customer journey map. 
                       <br> Design is currently in progress.
                        
                        
                     </p>
                  </div>
                  </div>
                  </section>
              
                  <div class="parallax_top_swim"> 
         
                  </div>

                  <h3 class ="tide_checking">Research</h3>

                  <section id="swim_survey" class="swim_full_text">
                     <h5 class="swim_sub_headings">Online Survey</h5>
                     <p>Firstly, I created a short online survey to get a broad initial sense of how open water swimmers use websites or apps to find out required information before a swim, what kind of information they look for and what problems they experience in finding that information.
                        Sharing this survey on open water swim groups on social media, I quickly amassed 265 responses.<br><br>

                     </p>     
                  </section>
                  <article>
                  <img class="swim_img" alt="swim survey results chart" src="../media/Swim_App_Survey.png">
                  <div class="right_text" >
                     <p>
                        <div class="swim_list" >
                        <ul>
                        <li>Most swimmers used mobile apps or websites before their swim to check tides, check weather and/or connect with a swim buddy.</li><br>
                        <li>Apps used to check tides include: Magic Seaweed; Tides Near Me; High Tide; Tide Times.</li><br>
                        <li>Swimmers used more than one app to find information eg. one for weather, another for tides, etc</li><br>
                        <li>Problems experienced using tide apps include: being difficult to navigate; information being confusing or having to to alot of searching and scrolling.</li>
                     </ul></p>
                     </div>
                  </div>
                 </article>

                 <section id="swim_comp_bench" class="swim_full_text">
                 <h5 class="swim_sub_headings">Competitive Benchmarking</h5>
                  <p>Following on from the online survey, I examined the apps swimmers had mentioned that they used, along with some other apps and websites.
                     Comparing how these apps solved the problem of allowing users to find out tide information, I compiled <a class="swim_link" href="../media/Swim_App_Comp_Bench.pdf">an extensive competitive benchmarking document.</a>
                     I wanted to understand established conventions, learn from best practice and find out areas for improvement.
                  </p>
                 </section>
                 <article>
                 <img class="swim_img"  src="../media/SwimApps.png">
                 <div class="right_text" id="comp_bench">
                    <div class="swim_list">
                    <p>For each app, I examined:
                         <ul>
                          <li><b>The Landing Page:</b> How easily I could find my nearest or desired location</li><br>
                          <li><b>Search Results:</b> How well the information was presented</li><br>
                           <li><b>Other Features:</b> If other useful information was also given.</li><br>
                       </ul>
                       
                    </p>
                    </div>
                    <br>
                    <a class="swim_link" href="../media/Swim_App_Comp_Bench.pdf">Have a look at the Competitive Benchmarking document here </a>
                 </div>
                 </article>
                   
                <section >
                 <h6 class="sub_sub">Best-in-class Landing Pages</h6>
                 <div class="swim_grid" >
                    <img class="swim" src="../media/Swim_App_Competitive_Benchmarking_2.png">
                    <img class="swim" src="../media/Swim_App_Competitive_Benchmarking_5.png">
                 </div>
                 <h6 class="sub_sub">Best-in-class Search Results </h6>
                 <div class="swim_grid" >
                    <img class="swim" src="../media/Swim_App_Competitive_Benchmarking_1.png">
                    <img class="swim" src="../media/Swim_App_Competitive_Benchmarking_3.png">
                    </div>
                    <h6 class="sub_sub">Best-in-class 'Other Features' </h6>
                    <div class="swim_grid" >
                       <img class="swim" src="../media/Swim_App_Competitive_Benchmarking_7.png">
                       <img class="swim" src="../media/Swim_App_Competitive_Benchmarking_8.png">
                       </div>
                    <br>
                    <br>
                    <br>
                    <section id="swim_usability" class="swim_full_text">
                     <h5 class="swim_sub_headings">Usability Tests</h5>
                     <p>I conducted two usability tests on two regular open-water sea swimmers. Firstly, I interviewed them about their open water swimming habits:
                        how they plan a swim; how they find out information in advance; who they go with; what the scenario was the last time they went for an open water swim.
                        <br><br>
                        I then ask them to check the tides and look for information for a swim using Tide Times Pro and Magic Seaweed. These were both apps that
                        swimmers had mentioned they used during the survey and also rated highly in competitive benchmarking.
                     </p>     
                  </section>
                  <article id="swim_use" class="swim_grid" >
                    <div class="swim_column"><img class="swim_user" src="../media/Swim_app_mom.png">
                <h5 class="swim_sub_headings">Tide Times Pro</h5>
                  <p><em><b>"Too much on opening screen with all the pin points on the map"</b></em><br>-swimmer 2 on the landing page<br><br>
                     <em><b>"Wind says 'strong' so it'll be a 'stay within the harbour' thing"</b></em><br>-swimmer 1 understanding wind information and making plans accordingly<br><br>
                  <em><b>"Metre information beside tide times doesn't mean alot to me"</b></em><br>-swimmer 2 on tide information given.</p></div>
                   
                   <div id="caelinn">
                  <img class="swim_user" src="../media/Swim_App_caelinn.png">
                  <h5 class="swim_sub_headings">Magic Seaweed</h5>
               <p ><em><b>"First thing I'd say is that it's really cool to see all the swimming spots named"</b></em><br>-swimmer 2 on landing page info<br><br>
               <em><b>"There's alot of information there and I don't have alot of patience"</b></em><br>-swimmer 1 on looking at search results.<br><br>
            <em><b>"It would be helpful if it was at the top"</b></em><br>-swimmer 2 on finally finding tide info after alot of searching.</p></div>
                    </article>

                 

                  <h3 class ="tide_checking">Analysis</h3>
     <section class="swim_full_text">
    <h5 class="swim_sub_headings">Affinity Diagram</h5>
    <p>Using Miro, I collected all the data from the online survey, competitive benchmarking and usabiity tests. After writing down my
       observations on individual 'post-its', I then went through a process of grouping and re-grouping various bits of data.
       Getting quite granular, an order was eventually instilled on all the data for the next step.
    </p>
    </section>
    <div id="swim_affinity"></div>

    <section class="swim_full_text">
       <h5 class="swim_sub_headings">Customer Journey Map</h5>
      <p>Following on from the affinity diagram, I then translated this colourful, 'ordered mess' into a readable deliverable.
         The customer - or as I prefer to say - the swimmer journey map charts the swimmer's journey from: their regular swim habits; the conversations
         and preparations they make before a swim; when they look for information; when they find the information; what they do after finding out the necessary information and before going for the swim. 
         The overall flow here is quite short but it's very obvious there's a dip when swimmers initially go and look for information and then a more 
         drastic dip when they are presented with search results from an app for a desired location.
      </p></section>

      <img class="map" src="../media/Swim_App_journey_map.png">

      <h3 class ="tide_checking">Design</h3>
     
      <section class="swim_full_text">
         <h5 class="swim_sub_headings">Flow Diagram</h5>
         <p>
            While the high level flow for this utility app isn't long, the two main steps have to be handled carefully and well.
            Firstly, from the research I've done, swimmers appreciate being shown a list of nearby swim locations to choose from. 
            Since this app is aimed at open-water swimmers, this list will be of known 'swim locations' - and not locations that 
            are unsafe. Alternative options for searching for a location are also catered for if no geolocation is available.
            <br><br>
            From research, swimmers want to have a brief look at the times of the tides for the week ahead first and then want 
            to know more details depending once they can see a date and time that suit. Bearing this in mind, search results yield 
            a brief overview of tide times for week ahead - each with a little chevron to indicate that the day can be opened for 
            further information eg. wind, weather, sea & air temperature, sunset & sunrise times. 
         </section>

         <img class="map" src="../media/Swim_Flow_Diagram.png">

         <section class="swim_full_text">
         <h5 class ="swim_sub_headings">Interaction Design</h5>
         <p>I made sketches for the first iteration of the screen design. The primary flow sees the swimmer, having previously allowed GPS
            while using the app, being presented with a list of nearby swim locations. By choosing a location, they are then shown an 
            overview of the tides for the next 6 days. By tapping a day, a window opens with detailed info. In this flow, the swimmer 
            also wants to check what the tide type means, so they tap on the explainer icon.
         </p>
         </section>
        
         <div class ="swim_screen_row">
         <div class="swim_screen">
            <img class ="swim_screen_img" src="../media/swim_app_interaction_1.jpg">
            <p class="swim_text_small"><b>1.</b> After the app loads, the swimmer is presented with a list of nearby swim spots.
               As previously mentioned, they are recognised swim spots - places where swimmers are seen regularly. 
               <br><br>The distance from the swimmer's current location to the swim spot is shown. 
               <br><br>The menu bar allows for alternative swim search options: a list of all locations, ordered by county & an option to search by map. 

            </p>
         </div>
         <div class="swim_screen">
            <img class ="swim_screen_img" src="../media/swim_app_interaction_2.jpg">
            <p class="swim_text_small"><b>2.</b> The swimmer is then shown an overview of tide times for the next 6 days. According to my 
            research - swimmers want to know the tide times first - to see if those times fit into their schedule and then want to know 
         more information eg. conditions, weather. <br><br>Having drawn this first iteration, I'm concerned the screen is a little busy - it might overwhelm 
         the first time user.
      However, I'd like to test it first in a medium fidelity prototype before assuming or changing anything yet.<br><br>
   Also, I think instead of 'Looking Ahead', it should be the selected location in the next iteration. </p>
         </div>
         </div>

      <div class="swim_screen_row">
         <div class="swim_screen">
            <img class="swim_screen_img" src="../media/swim_app_interaction_3.jpg">
            <p class="swim_text_small"><b>3.</b> When the swimmer taps on a day, a window opens to show more detailed information:<br><br>
            
               -Tide type is shown eg. spring tide/ neap tide with a link to explanation.<br><br>
               -Weather icon along with sea & air temperature<br><br>
               -Wind information is given with icon and simple language.<br><br>
               -Sunrise & sunset times<br><br>
               -If water quality information is available, it's shown.<br><br>
               -Icon to share the info for that day.<br><br>
            
           This is a really important screen to get right - so I think I'll test and iterate it afew times.
               
             </p>
         </div>
         <div class="swim_screen">
            <img class ="swim_screen_img" src="../media/swim_app_interaction_4.jpg">
            <p class="swim_text_small"><b>4.</b> Seeing the tide type ie. 'spring tide' in this case on the previous screen, the swimmer wants 
               to check what this means. When they click 'spring tide' or the 'i' icon on the previous screen, this explainer screen pops up. 
               It offers brief explanations of main tide types in Ireland - emphasising what it means for swimmers rather than much technical or scientific information.
            </p>
         </div>
         </div>

         <h3 class ="tide_checking">Prototyping    </h3>
         <section class="swim_full_text">
            <h5 class="swim_sub_headings">Medium Fidelity Prototype</h5>
            <p>
               <iframe width="375" height="812" id="swim_prototype" src="https://xd.adobe.com/embed/e9aa73dd-e85b-4286-be89-0c6b95adfbfc-bcf9/?fullscreen" frameborder="0" allowfullscreen></iframe>
              </p>
            </section>
      
 
  



        </main>
        
         
     
        <script>
           
        </script>
     </body>
  </html>