 .projects{
    font-family:"Poppins";
    color:#e91e63;
    margin-left:5vw;
    margin-top:5vh;
    font-size:30px;
    font-weight:bolder;
}

#hi{
    color:#e91e63;
    font-weight:bolder;
    font-size:45px;
}

#moi{
    margin-left:3vw;
    margin-right:3vw;
}

#about{
    color:black;
    font-weight:bolder;
    font-size:30px;
}

.em{
    color:#e91e63;
    font-size:20px;
}