$primaryColor: #e91e63;
$flyux:#228691;
$flyuxlowop:#9cc7cc;
$flyuxsection:#4c8f99;
$shadow:10px 20px 20px 5px rgb(141, 104, 138);

html{
    height: 100%;
    margin: auto;
    width: 100%;
    overflow: scroll;
}

h1{
    color:$flyux;
}

p, h2, h3, h1{
    font-family:Poppins;
}

.section_title{
    background-color:$flyuxlowop ;
}



.pdf_link{
    background-color: $flyux;
    color:white;
    font-family:Poppins;
    border-radius:8px;
    border-style:none;
    padding-left:10px;
    padding-right:10px;
    font-size:20px;
}

.cb_img_parent{
    overflow: hidden;
    width:45vw;
    height:600px;
   // margin-left:1vw;
    position:absolute;
}



.cb_img{
    height:100%;
    width:100%;
    z-index:-1;
    background-image:url("../media/CD.jpg") ;
    background-size:cover;
    background-repeat:no-repeat; 
    transition: all .8s; 
}

@media(max-width:599px){

    .parallax_top{
        background-image:url("../media/flyux_header.jpg");
        min-height:200px;
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
    }



.parallax_bottom{
    display:none;
}

.project_main{
    //height:300px;
    background-color: white;
}

img{
    width:100vw;
    height:50vh;
}

}
@media(min-width:600px)and(max-width:1199px){

    img{
        width:100vw;
        height:65vh;
    }

    .parallax_top{
        background-image:url("../media/flyux_header.jpg");
        min-height:300px;
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
    }



.parallax_bottom{
    display:none;
}

.project_main{
    //height:300px;
    background-color: white;
}

}

@media(min-width:1200px){

    
    
    
    .comp_bench_text{
        width:50vw;
        height:70vh;
        float:right;
    }

    .survey_text{
        width:50vw;
        height:70vh;
        float:left;
    }

    .comp_bench_img{
        float:left;
    }

    .survey_img{
        float:right;
    }

    img{
        width:47vw;
        height:70vh;
    }
    
    

.parallax_top{
    background-image:url("../media/flyux_header.jpg");
    min-height:650px;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.parallax_bottom{
    height:700px;
    background-image:url("../media/flyux_footer.jpg");
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover; 
}

.project_main{
    //height:1000px;
    background-color: white;
}



}