$primaryColor: #e91e63;
$flyux:#228691;
$flyuxlowop:#9cc7cc;
$flyuxsection:#4c8f99;
$flyuxdark:#0d3035;
$shadow:10px 20px 20px 5px rgb(141, 104, 138);
$background:#2E7D9B;



section, article{
    opacity:0;
    transition: 2s;
    transition-timing-function:ease-out;
    color:grey;
    font-family:'Poppins';
    

}

.grey{
    background-color: grayscale($color: #eeebeb);
    padding-top:15px;
}

.quote, .section_title{
    opacity:0;
    transition: 2s;
    transition-timing-function:ease-out;
}

.your-active-class{
    opacity:1;
    transition: 2s;
    transition-timing-function:ease-in;
}

#logo{
    background-image: url('../media/logo.png');
    background-repeat: no-repeat;
    background-size:contain;
    
}

p{
    color:grey;
}

h3{
    color:$flyux;

}

.section_title{
    margin-bottom:8vh;
}

#compbench{
    //background-image:url('../media/CB1.jpg');
    border-radius:8px;
    box-shadow:5px 10px 10px 10px rgb(138, 157, 160);
    background-repeat: no-repeat;
    background-size: contain;
    animation-name:compb;
    -webkit-animation-name:compb;
    animation-duration:40s;
    -webkit-animation-duration:40s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: steps(1,end);
    animation-timing-function: steps(1,end);

}




@keyframes compb{
    0%{background-image:url("../media/CB1.jpg");}
    30%{background-image:url("../media/CB2.jpg");}
    60%{background-image:url("../media/CB3.jpg");}
    80%{background-image:url("../media/CB4.jpg");}
    100%{background-image:url("../media/CB4.jpg");}

}

q{
    color:$background;
    font-family:'Poppins';
}



li{
    font-family:"Poppins";
    color:grey;
}

html{
   // height: 100%;
    margin: auto;
    width: 100%;
    overflow: auto;
}

h1{
    color:$flyux;
}



h2{
    text-align:center;
    color:$flyuxdark;
    padding-top:2vh;
    padding-bottom:2vh;
    text-transform:uppercase;
}

p, h2, h3, h1{
    font-family:Poppins;
}

section{
   /* width:100vw;*/
   // height:85vh;
    margin-left:1vw;
    margin-right:1vw;
    margin-top:8vh;
   // margin-bottom:8vh;
}

.section_title{
    background-color:$flyuxlowop;
    margin-top: 3vh;
    margin-bottom:3vh;
    width:100vw;
    overflow:visible
    
}

img{
    border-radius:8px;
   box-shadow:5px 10px 10px 10px rgb(138, 157, 160);
}


#project_main{
    background-color: white;
    border-top: 3px solid $flyux;
   
}

.user_test_images_1{
    background-size:cover;
    border-radius:8px;
    background-repeat:no-repeat;
    background-image:url("../media/Fionnuala_b&w.jpg"); 
    box-shadow:5px 10px 10px 10px rgb(138, 157, 160);
}

#megan, #fionnuala, #michele{
    width: 100%;
    height:100%;
   // border-radius: 8px;
}

#megan{
    animation-name:megan;
    -webkit-animation-name:megan;
    background-size:contain;
    background-repeat:no-repeat;
    animation-duration:6s;
    -webkit-animation-duration:6s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: steps(1,end);
    animation-timing-function: steps(1,end);
}

@keyframes megan{
    0%{background-image:url("../media/Megan_1.png");}
    20%{background-image:url("../media/Megan_2.png");}
    40%{background-image:url("../media/Megan_3.png");}
    60%{background-image:url("../media/Megan_4.png");}
    80%{background-image:url("../media/Megan_5.png");}
    100%{background-image:url("../media/Megan_6.png");}

}

#fionnuala{
    -webkit-animation-name:fionnuala;
    animation-name:fionnuala;
    background-size:contain;
    background-repeat:no-repeat;
    -webkit-animation-duration:5s;
    animation-duration:5s;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps(1,end);
    animation-timing-function: steps(1,end);

}

@keyframes fionnuala{
    0%{background-image:url("../media/Fionnuala_1.png");}
    25%{background-image:url("../media/Fionnuala_2.png");}
    50%{background-image:url("../media/Fionnuala_3.png");}
    75%{background-image:url("../media/Fionnuala_4.png");}
    100%{background-image:url("../media/Fionnuala_5.png");}
   

}

#michele{
    animation-name:michele;
    -webkit-animation-name:michele;
    background-size:contain;
    background-repeat:no-repeat;
    animation-duration:6s;
    -webkit-animation-duration:6s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: steps(1,end);
    animation-timing-function: steps(1,end);
}

@keyframes michele{
    0%{background-image:url("../media/Michele_1.png");}
    20%{background-image:url("../media/Michele_2.png");}
    40%{background-image:url("../media/Michele_3.png");}
    60%{background-image:url("../media/Michele_4.png");}
    80%{background-image:url("../media/Michele_5.png");}
    100%{background-image:url("../media/Michele_6.png");}

}






.pdf_link{
    background-color:$flyux;
    //box-shadow:5px 10px 10px 10px rgb(138, 157, 160); ;
    border-radius:4px;
    border-style:none;
    padding-left:1vw;
    padding-right:2vw;
    padding-top:2vh;
    padding-bottom:2vh;
    margin-top:2vh;
   
}

#cb{
    color:white;
    font-family:Poppins;
    font-size:5px;

}

.cb_img_parent{
    overflow: hidden;
    width:500px;
    height:65vh;
   // margin-left:1vw;
    //position:absolute;
}

#me{
    background-image: url('../media/ad_b&w_1.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    box-shadow:5px 10px 10px 10px rgb(138, 157, 160);
    border-radius: 8px;
}

#detail_1{
    background-image: url('../media/ad_extras.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    box-shadow:5px 10px 10px 10px rgb(138, 157, 160);
    border-radius: 8px;
}

#detail_2{
    background-image: url('../media/ad_layover.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    box-shadow:5px 10px 10px 10px rgb(138, 157, 160);
    border-radius: 8px;
}

#detail_3{
    background-image: url('../media/ad_priceclarity.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    box-shadow:5px 10px 10px 10px rgb(138, 157, 160);
    border-radius: 8px;
}

#detail_4{
    background-image: url('../media/ad_guidance.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    box-shadow:5px 10px 10px 10px rgb(138, 157, 160);
    border-radius: 8px;
}

#ugo{
    background-image: url('../media/ad_b&w_2.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    box-shadow:5px 10px 10px 10px rgb(138, 157, 160);
    border-radius: 8px;
}




@media(max-width:599px){

    .parallax_top{
        background-image:url("../media/flyux_header.jpg");
        min-height:200px;
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
    }



.parallax_bottom{
    display:none;
}

#logo{
    width:90vw;
  margin-left:3vw;
    height:40vh;
    border-bottom:2px solid $flyux;
}

h2{
    font-size:20px;
}

h3{
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

section, article{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
   // margin-top:10vh;
    margin-bottom:13vh;
}

#project_main{
    background-color: white;
    
    
}

#compbench{
    width:325px;
    height:230px;
    margin-left:3vw;
    margin-top:3vh;
    margin-bottom:3vh;
}

img{
    width:85vw;
    height:35vh;
    margin-left:3vw;
    margin-top:3vh;
    margin-bottom:3vh;
}

.user_test_images_1{
    width:85vw;
    height:40vh;
    margin-left:3vw;
}

#me{
    width:46vw;
    height:33vh;
    margin-left:12vw;
    margin-bottom:2vh;
}

#ugo{
    width:44vw;
    height:33vh;
    margin-left:12vw;
    margin-bottom:2vh;
}

#detail_1, #detail_2, #detail_3, #detail_4{
    width:85vw;
    height:36vh;
    margin-left:3vw;
    margin-bottom:2vh;
}

.user_img_parent{
    width:85vw;
    height:40vh;
    margin-left:3vw;
    border-radius:8px;
    box-shadow:5px 10px 10px 10px rgb(138, 157, 160);
    background-color: $background;
    overflow:hidden;
    
}

q{
    font-size:17px;
    font-weight:bold;
    font-style:italic;
}

.quote{
    margin-top:6vh;
    margin-bottom:6vh;
}

}
@media(min-width:600px)and(max-width:991px){

    #logo{
        width:90vw;
       margin-left:5vw;
        height:40vh;
        padding-bottom:3vh;
        border-bottom:3px solid $flyux;
    }

    #compbench{
        width:650px;
        height:460px;
        margin-left:3vw;
    }

    img{
        width:85vw;
        height:50vh;
        margin-left:5vw;
    }

    h2{
        font-size:25px;
    }

    h3{
        font-size:40px;
        font-weight:bold;
        text-align:center;
    }

    section, article{
        margin-bottom:10vh;
    }

    .user_img_parent{
        width:70vw;
        height:40vh;
        margin-left:10vw;
        border-radius:8px;
        box-shadow:5px 10px 10px 10px rgb(138, 157, 160);
        background-color: $background;
        overflow:hidden;
        
    }

    .parallax_top{
        background-image:url("../media/flyux_header.jpg");
        min-height:300px;
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
    }



.parallax_bottom{
    display:none;
}

.project_main{
    //height:300px;
    background-color: white;
}

.user_test_images_1{
    width:85vw;
    height:40vh;
    margin-left:5vw;
}

q{
    font-size:25px;
    font-weight:bold;
    font-style:italic;
}

.quote{
    margin-top:10vh;
    margin-bottom:10vh;
    text-align:center;
}

#me, #ugo{
    width:30vw;
    height:28.5vh;
    margin-left:3vw;
    margin-bottom:2vh;
}

#detail_1, #detail_4{
    width:50vw;
    height:28vh;
    margin-left:3vw;
    margin-bottom:2vh;
}

#detail_2, #detail_3{
    width:85vw;
    height:48vh;
    margin-left:3vw;
    margin-bottom:2vh;

}



#ipad, #ipad3{
    display:flex;
    flex-direction:row;
}

.d_text{
    display:none;
}


}

@media(min-width:992px)and(max-width:1199px){

    #logo{
        width:50vw;
       margin-right:10vw;
        height:40vh;
    }

    
#logo{
    border-right:2px solid $flyux;
    padding-bottom:8vh;
    margin-bottom:3vh;
}


    section{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        margin-bottom:10vh;
    }

    article{
        display:flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        margin-bottom:13vh;
    }

    h3{
        font-size:45px;
        font-weight:bold;
       
    }

    #project_main{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        
    }

    h2{
        font-size:30px;
    }

    .left_text{
        float:left;
        width:45vw;
        height:70vh;
        margin-left:10vw;
    }
    
    
    .right_text{
        width:45vw;
        height:70vh;
        float:right;
        margin-right:5vw;
       
    }

    img{
        margin-right:5vw;
        margin-left:5vw;
    }
 
    #compbench{
        margin-right:5vw;
        margin-left:5vw;
        width:830px;
        height:410px;
    }
    

    

    

    

    

    .survey_img{
        float:right;
    }

    img{
        width:45vw;
        height:50vh;
    }

    /*.user_test_parent_1{
        width:35vw;
        height:50vh;
        background-color: $background;
        float:left;
        border-radius:8px;
        box-shadow:5px 10px 10px 10px rgb(138, 157, 160);
        //position:fixed;
        overflow:hidden;
        margin-right:5vw;
    }*/

    .user_test_images_1{
        width:40vw;
        height:60vh;
    }

    

   .user_img_parent{
        width:35vw;
        height:50vh;
        background-color: $background;
        //float:right;
        border-radius:8px;
        box-shadow:5px 10px 10px 10px rgb(138, 157, 160);
        //position:fixed;
        overflow:hidden;
        margin-right:35vw;
    }
    

    
    

.parallax_top{
    background-image:url("../media/flyux_header.jpg");
    min-height:610px;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.parallax_bottom{
    height:700px;
    background-image:url("../media/flyux_footer.jpg");
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover; 
}

#flyux_title{
    display:flex;
    flex-direction:row;
    height:20vh;
    padding-bottom:50vh;
    
   // margin-top:50vh;
}

#intro{
    font-size:18px;
    color:rgb(112, 109, 109);
    padding-top:3vh;
    margin-right:10vw;
}

q{
    font-size:25px;
    font-weight:bold;
    font-style:italic;
}

.quote{
    margin-top:5vh;
    margin-bottom:15vh;
    text-align:center;
}

#megan{
    margin-right:100px;
}  

#ipad, #ipad3{
    display:flex;
    flex-direction:row;
}

#me, #ugo{
    width:23vw;
    height:48vh;
    margin-left:6vw;
    margin-bottom:2vh;
}

#detail_1, #detail_2, #detail_3, #detail_4{
    width:41vw;
    height:49vh;
    margin-left:2vw;
    margin-bottom:2vh;
}

#ipad2{
    display:flex;
    flex-direction: row;
    margin-left:4vw;
}

.d_text{
    margin-left:1vw;
}


}

@media(min-width:1200px){

    #logo{
        width:50vw;
       margin-right:10vw;
        height:40vh;
    }

    
#logo{
    border-right:2px solid $flyux;
    padding-bottom:8vh;
    margin-bottom:3vh;
}


    section{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        margin-bottom:10vh;
    }

    article{
        display:flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        margin-bottom:13vh;
    }

    h3{
        font-size:45px;
        font-weight:bold;
       
    }

    #project_main{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        
    }

    h2{
        font-size:30px;
    }

    .left_text{
        float:left;
        width:45vw;
        height:70vh;
        margin-left:10vw;
    }
    
    
    .right_text{
        width:45vw;
        height:70vh;
        float:right;
        margin-right:5vw;
       
    }

    img{
        margin-right:5vw;
        margin-left:5vw;
    }
 
    #compbench{
        margin-right:5vw;
        margin-left:5vw;
        width:830px;
        height:480px;
    }
    

    

    

    

    

    .survey_img{
        float:right;
    }

    img{
        width:40vw;
        height:60vh;
    }

    /*.user_test_parent_1{
        width:35vw;
        height:50vh;
        background-color: $background;
        float:left;
        border-radius:8px;
        box-shadow:5px 10px 10px 10px rgb(138, 157, 160);
        //position:fixed;
        overflow:hidden;
        margin-right:5vw;
    }*/

    .user_test_images_1{
        width:40vw;
        height:60vh;
    }

    

   .user_img_parent{
        width:35vw;
        height:50vh;
        background-color: $background;
        //float:right;
        border-radius:8px;
        box-shadow:5px 10px 10px 10px rgb(138, 157, 160);
        //position:fixed;
        overflow:hidden;
        margin-right:35vw;
    }
    

    
    

.parallax_top{
    background-image:url("../media/flyux_header.jpg");
    min-height:610px;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.parallax_bottom{
    height:700px;
    background-image:url("../media/flyux_footer.jpg");
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover; 
}

#flyux_title{
    display:flex;
    flex-direction:row;
    height:20vh;
    padding-bottom:50vh;
    
   // margin-top:50vh;
}

#intro{
    font-size:18px;
    color:rgb(112, 109, 109);
    padding-top:3vh;
    margin-right:10vw;
}

q{
    font-size:25px;
    font-weight:bold;
    font-style:italic;
}

.quote{
    margin-top:5vh;
    margin-bottom:15vh;
    text-align:center;
}

#megan{
    margin-right:100px;
}  

#ipad, #ipad3{
    display:flex;
    flex-direction:row;
    margin-left:6vw;
}

#me{
    width:25vw;
    height:65vh;
    //margin-left:6vw;
    margin-bottom:2vh;
}

#ugo{
    width:24vw;
    height:65vh;
    margin-left:1vw;
    margin-bottom:2vh;
}

#detail_1, #detail_2, #detail_3, #detail_4{
    width:42.5vw;
    height:65vh;
    margin-left:2vw;
    margin-bottom:2vh;
}

#ipad2{
    display:flex;
    flex-direction: row;
    margin-left:4vw;
}

.d_text{
    margin-left:1vw;
}


}