/*h1{
    color: purple;
    margin-left:2%;
    font-family:sans-serif;
   // background-color: plum;
}
*/


/*#page_wrapper{
   -webkit-animation: fullpage 2s forwards;
   -o-animation: fullpage 2s forwards;
   animation: fullpage2s forwards;
   animation-delay: 5s;
   
   
}

@keyframes fullpage{

   0%{
      opacity:0;

   }

   100%{
      margin-top:0;
      opacity:1;
      height:100%;
      width:100%;

   }

}

*/
@media(max-width:400px){
   .centre{
      opacity:1;
      z-index:1;
      display: flex;
      flex-direction:column;
      margin-top: 50vh;
      margin-left: 1vw;
      justify-content: center;
      align-items: left;
      position:fixed;
    
   
   }
   
   .name{
      font-size:35px;
      color:#e91e63;
     //color:black;
      font-family:'Poppins';
      margin-bottom:3px;
      margin-left:4vw;
   }
   
   
   .title, .role{
      display:none;
   }
   
   .job{
      color:black;
      margin-left:4vw;
      font-size:15px;
   }
   
   .see{
      border-radius:30px;
      font-size:20px;
      //font-weight:bold;
      margin-left:0%;
      border-style:none;
      color:white;
     background-color: #e91e63;
     //background-color: black;
      font-family:'Poppins';
      width:60vw;
      height:65px;
      float:left;
      transition: .1s ease;
      -webkit-transition: .1s ease;
   
   }

   #get_left{
      margin-left:3vw;
      width:60vw;
   }

   #ball{
      width:100px;
      position:absolute;
      height:100px;
      border-radius: 50px;
      background-image:url('../media/arrow.png');
      background-size:contain;
      z-index:-1;
      -webkit-animation-name:ball;
      animation-name:ball;
      -webkit-animation-duration:40s;
      animation-duration:40s;
      -webkit-animation-iteration-count:infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
  
   }

   @keyframes ball{
      0%{left:0px; top:0px; opacity:0;}
      5%{left:-10px; top:-50px; opacity:1;}
      25%{left:100px; top:50px; opacity:1;}
      35%{left:180px; top:45px; transform: rotate(-45deg); opacity:1;}
      50%{left:300px; top:60px; transform: rotate(-90deg);opacity:1;}
      60%{left:450px; top:70px; transform: rotate(-45deg); opacity:1;}
      70%{left:600px; top:50px; opacity:1;}
      95%{left:800px; top:50px; opacity:1; transform: rotate(45deg);}
      99%{left:800px; top:50px; opacity:0;}
      100%{left:0px; top:0px; opacity:0;}
   }
  
  #landing{
     position:fixed;
  }

.centre{
   opacity:1;
   position:fixed;
   display: flex;
   flex-direction:column;
   margin-top: 200px;
   margin-left: 10vw;
   justify-content: center;
   align-items: left;
   z-index:11;
 

}


}

@media(min-width:401px) and (max-width:599px){

   .centre{
      opacity:1;
      z-index:1;
      display: flex;
      flex-direction:column;
      margin-top: 50vh;
      margin-left: 1vw;
      justify-content: center;
      align-items: left;
      position:fixed;
    
   
   }
   
   .name{
      font-size:35px;
      color:#e91e63;
     //color:black;
      font-family:'Poppins';
      margin-bottom:3px;
      margin-left:4vw;
   }
   
   
   .title, .role{
      display:none;
   }
   
   .job{
      color:black;
      margin-left:4vw;
      font-size:15px;
   }
   
   .see{
      border-radius:30px;
      font-size:20px;
      //font-weight:bold;
      margin-left:0%;
      border-style:none;
      color:white;
     background-color: #e91e63;
     //background-color: black;
      font-family:'Poppins';
      width:60vw;
      height:65px;
      float:left;
      transition: .1s ease;
      -webkit-transition: .1s ease;
   
   }

   #get_left{
      margin-left:3vw;
      width:60vw;
   }

   #ball{
      width:100px;
      position:absolute;
      height:100px;
      border-radius: 50px;
      background-image:url('../media/arrow.png');
      background-size:contain;
      z-index:-1;
      -webkit-animation-name:ball;
      animation-name:ball;
      -webkit-animation-duration:40s;
      animation-duration:40s;
      -webkit-animation-iteration-count:infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
  
   }

   @keyframes ball{
      0%{left:0px; top:0px; opacity:0;}
      5%{left:-10px; top:-50px; opacity:1;}
      25%{left:100px; top:50px; opacity:1;}
      35%{left:180px; top:45px; transform: rotate(-45deg); opacity:1;}
      50%{left:300px; top:60px; transform: rotate(-90deg);opacity:1;}
      60%{left:450px; top:70px; transform: rotate(-45deg); opacity:1;}
      70%{left:600px; top:50px; opacity:1;}
      95%{left:800px; top:50px; opacity:1; transform: rotate(45deg);}
      99%{left:800px; top:50px; opacity:0;}
      100%{left:0px; top:0px; opacity:0;}
   }
  
  #landing{
     position:fixed;
  }

.centre{
   opacity:1;
   position:fixed;
   display: flex;
   flex-direction:column;
   margin-top: 350px;
   margin-left: 10vw;
   justify-content: center;
   align-items: left;
   z-index:11;
 

}


}


@media(min-width: 600px){


   #ball{
      width:100px;
      position:absolute;
      height:100px;
      border-radius: 50px;
      background-image:url('../media/arrow.png');
      background-size:contain;
      z-index:-1;
      -webkit-animation-name:ball;
      animation-name:ball;
      -webkit-animation-duration:40s;
      animation-duration:40s;
      -webkit-animation-iteration-count:infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
  
   }

   @keyframes ball{
      0%{left:0px; top:0px; opacity:0;}
      5%{left:-10px; top:-50px; opacity:1;}
      25%{left:100px; top:50px; opacity:1;}
      35%{left:180px; top:45px; transform: rotate(-45deg); opacity:1;}
      50%{left:300px; top:60px; transform: rotate(-90deg);opacity:1;}
      60%{left:450px; top:70px; transform: rotate(-45deg); opacity:1;}
      70%{left:600px; top:50px; opacity:1;}
      95%{left:800px; top:50px; opacity:1; transform: rotate(45deg);}
      99%{left:800px; top:50px; opacity:0;}
      100%{left:0px; top:0px; opacity:0;}
   }
  
  #landing{
     position:fixed;
  }

.centre{
   opacity:1;
   position:fixed;
   display: flex;
   flex-direction:column;
   margin-top: 350px;
   margin-left: 10vw;
   justify-content: center;
   align-items: left;
   z-index:11;
 

}

.name{
   font-size:35px;
   color:#e91e63;
  //color:black;
   font-family:'Poppins';
   margin-bottom:3px;
   margin-left:4vw;
   //position:fixed;
}


.title, .role{
   display:none;
}

.job{
   color:black;
   margin-left:4vw;
  // position:fixed;
}

.see{
   border-radius:30px;
   font-size:20px;
   //font-weight:bold;
   border-style:none;
   color:white;
  background-color: #e91e63;
  //background-color: black;
   font-family:'Poppins';
   width:350px;
   height:65px;
   float:left;
   transition: .1s ease;
   -webkit-transition: .1s ease;

}

.see:hover{
 margin-left:0%;
 box-shadow:10px 7px 10px 7px rgba(141, 104, 138, 0.425);
}


}
 
 



