/*h1{
    color: purple;
    margin-left:2%;
    font-family:sans-serif;
   // background-color: plum;
}
*/


/*#page_wrapper{
   -webkit-animation: fullpage 2s forwards;
   -o-animation: fullpage 2s forwards;
   animation: fullpage2s forwards;
   animation-delay: 5s;
   
   
}

@keyframes fullpage{

   0%{
      opacity:0;

   }

   100%{
      margin-top:0;
      opacity:1;
      height:100%;
      width:100%;

   }

}

*/


.centre{
   color:#e91e63;
   font-family:'Poppins';
   display: flex;
   flex-direction:column;
   margin-top: 50vh;
   margin-left: 10vw;
   justify-content: center;
   align-items: left;
 

}

.name{
   font-size:25px;
}




footer{
  
   color:#1978d1;
    bottom:0;
   position:absolute;
   width: 100%;
   height: 2rem; 
   padding-left:10px;
   font-family:'Poppins';
   -webkit-animation: footer 2s forwards;
   -o-animation: footer 2s forwards;
   animation: footer 2s forwards;
   animation-delay: 5s;
}


 
 
 @keyframes footer{
     0%{
         opacity:0;
     }
     100%{
         opacity:1;
        
     }
 }


