//Burger menu
$primaryColor: #e91e63;

#burger{
    float:right;
    margin-right:5vw;
    margin-top:5vh;
    position:relative;
    z-index:15;

    
}

.bar1, .bar2, .bar3{
 width:40px;
 height: 4px;
 border-radius:3px;
 background-color:$primaryColor;
 margin:8px 0 ;
 transition: 0.8s;
transition-timing-function: ease-in;
}

//On hover movement of burger menu
.burger_menu:hover{
    .bar1{width:35px;
          transition: 0.8s;
          transition-timing-function:ease-in-out;
          
  }
  .bar2{
    width:30px;
    margin-left:10px;
    transition: 0.8s;
    transition-timing-function:ease-in-out;
  }
  
  .bar3{
    width:25px;
    transition: 0.8s;
    transition-timing-function:ease-in-out;
  }
  }

  //Transformation of burger menu to cross when clicked
.change {

  
  
    .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px) ;
    transform: rotate(-45deg) translate(-8px, 8px) ;
    width:30px;
    background-color:white;
  }
  
 
   .bar2 {
    opacity: 0;
  }
  

  .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
    width:30px;
    background-color:white;
  }
  }

  //Slide out menu
  //off-screen
  .menu{
    font-family:Poppins;
    color:white;
    text-decoration:none;
    height: 100%;
      width: 0;
      position: fixed;
      z-index: 13;
      top: 0;
      right: 0;
      background-color:$primaryColor;
      overflow-x: hidden;
      transition: 0.9s;
      transition-timing-function: ease-in-out;
      padding-top: 60px;
    }
    
    //on-screen
    .menu_out{
      //width:300px;
      display:block;
      color:white;
      font-family:'Poppins';
      text-decoration: none;
      font-size: 25px;
      padding: 30px 8px 8px 8px;
      transition: 0.4s;
      transition-timing-function:ease-in-out;
    
    }

    @media(max-width:599px){

      .menu_out{
     width:300px;
      }
  }
  
      @media(min-width:600px)and(max-width:1199px){

       .menu_out{
        width:600px;
       }
        
      }
  
          @media(min-width:1200px){

            .menu_out{
            width:850px;
            }
  
  
  
    }
  
      
  
    
    
    a{
      text-decoration: none;
      color:white;
      margin-left:50px;
      font-size:30px;
      transition: 0.5s;
      transition-timing-function: ease-out;
    }

    a:hover{
      font-size:35px;
      color:rgb(252, 228, 234);
      margin-left:60px;
      transition: 0.5s;
     transition-timing-function:ease-in;
    }