
 $primaryColor: #e91e63;
 $shadow:10px 20px 20px 5px rgb(141, 104, 138);

.projects_wrapper{
    opacity:1;
}
 .project_parent{
     box-shadow:$shadow;
     border-radius:8px;
    // position:absolute;
     overflow: hidden;
     
 }

 .project_title{
    font-family:Poppins;
    display:flex;
    flex-direction: row;
    color:$primaryColor;
    font-size:20px;
    background-color: rgb(255, 255, 255);
    z-index:9; 
   //float:left;
   position:absolute;
    bottom:0;
   padding-left:2vw;
   width:100%;
   

}

.project_details{
    font-family:Poppins;
    color:rgba(64, 64, 65, 0.973);
    font-size:13px;
   position: absolute;
    bottom: 0;
    z-index:11;
}

 .flyux{
    height:100%;
    width:100%;
    z-index:-1;
    background-image:url("../media/flyux_header.jpg") ;
    background-size:cover;
    background-repeat:no-repeat; 
    transition: all .8s; 

 }


 .subtitle{
     color:rgba(65, 66, 66, 0.973);
 }

 

 
 
 
 @media(max-width:599px){

    

    
    .project_parent{
        width:95vw;
        height:300px;
        margin-left:1vw;
        position:absolute;
        

      }
    

    .project_title{
        padding-left:2vw;
        padding-bottom:14%;
        border-top:1px solid $primaryColor; 
     }

    .project_details{
        padding-left:2vw;
        padding-right:2vw;
        padding-bottom:1vh;
        padding-top:3px;
       
    }


 }
  
     

      
       
    

 @media(min-width:600px)and(max-width:1199px){

    .project_parent{
        margin-top:5vh;
        width:95vw;
        height:85vw;
        margin-left:1.5vw;
       position:absolute;
       overflow: hidden;

    }
    

    

    .project_title{
        font-family:Poppins;
        display:flex;
        flex-direction: row;
        color:$primaryColor;
        font-size:20px;
        z-index:9; 
        float:left;
        position:absolute;
        bottom:0;
       padding-left:2vw;
       padding-bottom:8%;
       width:100%;
       border-top:2px solid $primaryColor; 
      
    
    }

    .project_details{
        font-family:Poppins;
        color:rgba(52, 53, 54, 0.973);
        font-size:18px;
       position: absolute;
        bottom: 0;
        padding-left:2vw;
        padding-right:2vw;
        padding-bottom:2vh;
        z-index:11;
      
    }



    }

    @media(min-width:1200px){

        
            .project_parent{
               margin-top:5vh;
               margin-left:80px;
               width:35vw;
               height:35vw;
               position:absolute;
               overflow: hidden;

            }
            
    
            

            .project_title{
                font-family:Poppins;
                display:flex;
                flex-direction: row;
                color:$primaryColor;
                border-top:1px solid $primaryColor; 
                font-size:30px;
                border-top:2px solid $primaryColor;
                z-index:9; 
                float:left;
                position:absolute;
                bottom:0;
               padding-left:2vw;
               width:100%;
               transition:ease .5s;
               -webkit-transition:ease .5s;
         
            }

            .project_details{
                font-family:Poppins;
                color:rgba(141, 143, 145, 0.973);
                font-size:20px;
               position: absolute;
                bottom: 0;
                padding-left:2vw;
                padding-right:2vw;
                padding-bottom:2vh;
                opacity:0;
                transition: .5s ease;
                -webkit-transition: .5s ease;
                z-index:11;
              
              
                

            }

            


           .project_parent:hover .project_title{
               padding-bottom:20%;
           }

           .project_parent:hover .project_details{
               opacity:1;
               transition-timing-function:ease-out .2s;
           }

            

            .project_parent:hover .flyux,
            .project_parent:focus .flyux{
                transform:scale(1.2);
            }

            
           
     



}
 