$swim:#0096FF;


#landing_tide{
    opacity:1;
}

.swimy{
    opacity:0;
    transition: 2s;
    transition-timing-function:ease-out;
}



.your-active-class{
    opacity:1;
    transition: 1.5s;
    transition-timing-function:ease-in;
}

.swim_sub_headings, .tide_checking, .swim_link{
    color:$swim;
}

.swim_list, .swim_quotes, .swim_text_small{
    background-color: #bee0f8;
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    padding-bottom:15px;
}

#swim_land{
    margin-left:3vw;
}

.tide_checking{
    border-bottom: 2px solid $swim;
    margin-left:3vw;
    margin-top:2vh;
    margin-right:3vw;
}

.swim_img, .swim_user{
    box-shadow: none;
    //border-left:1px solid $swim;

}

.swim_user{
    border-radius:0px;
}

.sub_sub{
    color:$swim;
    border-bottom:1px solid $swim;
    margin-bottom:2vh;
    margin-top:7vh;
    
}

#swim_usability{
    margin-top:10vh;
}



.parallax_top_swim{
    background-image:url("../media/swim_carlingford.jpg");
    min-height:750px;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    margin-top:50vh;
}

#swim_affinity{
    width:90vw;
    //height:70vh;
    background-repeat:no-repeat;
    background-size:contain;
    animation-name:affinity;
    -webkit-animation-name:affinity;
    animation-duration:35s;
    -webkit-animation-duration:35s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: steps(1,end);
    animation-timing-function: steps(1,end);
}

@keyframes affinity{
    0%{background-image:url("../media/Swim_App_Miro_1.png");}
    10%{background-image:url("../media/Swim_App_Miro_2.png");}
    20%{background-image:url("../media/Swim_App_affinity_diagram_1_2.png");}
    30%{background-image:url("../media/Swim_App_affinity_diagram_2.png");}
    40%{background-image:url("../media/Swim_App_affinity_diagram_3.png");}
    50%{background-image:url("../media/Swim_App_affinity_diagram_4.png");}
    60%{background-image:url("../media/Swim_App_affinity_diagram_5.png");}
    70%{background-image:url("../media/Swim_App_affinity_diagram_5_2.png")}
    80%{background-image:url("../media/Swim_App_affinity_diagram_6.png");}
    90%{background-image:url("../media/Swim_App_affinity_diagram_7.png");}

}

#swim_use, .map{
    box-shadow: none;
    border-radius:0px;
    margin-bottom:18vh;
}


@media(max-width:599px){

   #header{
       height:40vh;
   }

    #landing_tide{
        margin-top:8vh;
        margin-bottom:0%;
        height:5vh;
    }

    .section{
       height: 210vh;
    }

    article{
        opacity:1;
    }

    .swim_img, .swim, .swim_user{
        width:90vw;
        margin-left:3vw;
        margin-bottom:2vh;

    }

    #swim_affinity, .map{
        margin-left:2vw;
    }

    .map{
        width:90vw;
        margin-left:5vw;
    }

    #swim_affinity{
        height:40vh;
        margin-bottom:8vh;
    }

   .swim_screen_img{
       width:80vw;
       margin-left:7vw;
       margin-top:20px;
   }

   
 
    


}

@media(min-width:600px)and(max-width:991px){

    #header{
        height:5vh;
        margin-bottom:0%;
        padding-bottom:0%;
    }

    #landing_tide{
        margin-bottom:0%;
        height:2vh;
    }

    .swim_full_text, .swim_findings{
        height:35vh;
    }

    .swim_findings{
        display:flex;
        flex-direction:row;
    }

    .section{
        height:45vh;
    }

    .swim_img, .swim, .swim_user{
        width:90vw;
        margin-left:3vw;
        margin-bottom:2vh;

    }

  

    #swim_affinity{
        height:40vh;
        margin-bottom:12vh;
        margin-left:5vw;
        margin-top:0%;
    }

    .map{
        width:80vw;
        margin-left:3vw;

    }

    
.swim_screen_row{
    display:flex;
    flex-direction: row;
}

    .swim_screen_img{
        width:300px;
        margin-left:40px;
        margin-top:50px;
    }

    #swim_prototype{
        margin-left:23vw;
    }
 

   
}

@media(min-width:992px)and(max-width:1199px){

    #landing_tide{
        height:5vh;
    }

    .swim_img, .swim{
        height: 40vh;
        margin-right:1vw;
        margin-left:1vw;
    }

    .swim_full_text{
        height:35vh;
       margin-left:3vw;
    }

    .swim_findings{
display:flex;
flex-direction:row;
    }

    .swim_divides{
        
        padding-top:20px;
        padding-left:20px;
        width:340px;
        margin-bottom:50px;
        margin-left:30px;
    }

    .swim_user{
        width:35vw;
        
    }

    .swim_column{
        margin-right:5vw;
    }

   

    .section{
        height:45vh;
    }

    #swim_apps{
        margin-left:25vw;
    }

    .swim_grid{
        display:flex;
        flex-direction: row;
        margin-left:5vw;
        margin-bottom:5vh;
       
    }

    #caelinn{
        margin-right:2vw;
    }

    #swim_affinity, .map{
        margin-left:5vw;
    }

    #swim_affinity{
        height:70vh;
        width:90vw;
        margin-bottom:12vh;
        margin-left:5vw;
        margin-top:0%;
    }

    .swim_screen{
        width:400px;
        margin-left:5vw;
        margin-bottom:5vh;
    }


    .swim_screen_img{
        width:350px;
        margin-left:25px;
    }

    .swim_screen_row{
        margin-left:2vw;
    }

    
.swim_screen_row{
    display:flex;
    flex-direction: row;
}

#swim_prototype{
    margin-left:30vw;
}
    
}





@media(min-width:1200px){

    .section{
        height: 50vh;
    }

    #landing_tide{
        height:5vh;
    }

    .swim_img, .swim{
        height: 60vh;
        margin-right:2vw;
        //margin-left:1vw;
    }

    .swim_user{
        width:35vw;
        
    }

    .swim_column{
        margin-right:5vw;
    }


    #swim_apps{
        margin-left:20vw;
    }

    .swim_grid{
        display:flex;
        flex-direction: row;
        margin-left:5vw;
        margin-bottom:5vh;
       
    }

    #caelinn{
        margin-right:5vw;
    }

    #swim_affinity, .map{
        margin-left:15vw;
    }

    #swim_affinity{
        height:70vh;
        width:90vw;
        margin-bottom:12vh;
        margin-top:0%;
    }

    .swim_full_text{
        height:40vh;
       margin-left:3vw;
    }

    .swim_findings{
display:flex;
flex-direction:row;
height:30vh;
background-color:white;
//padding-bottom:5vh;
    }

    .swim_divides{
        
        
        padding-left:20px;
        margin-top:0%;
        width:340px;
       // margin-bottom:50px;
        margin-left:100px;
       
    }

    .swim_screen{
        width:600px;
        margin-left:5vw;
        margin-bottom:5vh;
    }


    .swim_screen_img{
        width:400px;
        margin-left:100px;
    }

    .swim_screen_row{
        margin-left:2vw;
    }

    
.swim_screen_row{
    display:flex;
    flex-direction: row;
}

#swim_prototype{
    margin-left:35vw;
}

        

    
}